{% extends 'base.html' %}

{% load static %}
{% block navbar %}

    <li><a href="{% url 'about' %}">ABOUT</a></li>
    <li><a href="{% url 'coaching' %}">COACHING</a></li>
    <li><a href="{% url 'courses' %}">COURSES</a></li>
    <li><a href="{% url 'events' %}">EVENTS</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
    {% if request.session.logged_in != None %}
    	<li class="nav-login dropdown">
    		<!-- <a class="dropdown-toggle jax-link" data-toggle="dropdown" href="#"> -->
    			<!-- {{request.session.username}}<b class="caret"></b>  </a> -->
    		  	<!-- <ul style="left:0;position: absolute;" class="dropdown-menu "> -->
                    <!-- <li> -->
                        <a href="{% url 'logout' %}">Logout</a>
                    <!-- </li> -->
                <!-- </ul> -->
    	</li>
    {% else %}
    <li class="nav-login"><a href="{% url 'login' %}">Login/Signup</a></li>
    {% endif %}
{% endblock %}
{% block content %}
<!-- {% if data %}
	{% for email in data %}
		{{email.email}}
	{% endfor %}
{% else %}
	{'Empyt'}
{% endif %} -->

    <section class="signup_banner">
		<div class="container">
			<div class="col-md-6 col-md-offset-6 col-sm-12 nopaddingmobile text-black block-center">
				<div class="sub-main-w3">
					<h2 class="section_head_inner2">Log In</h2>
                    <div class="text-center">	
                    	<span style="color: red;">{{ message }}</span>
                    	
                    </div>
					<form action="{% url 'login' %}" method="post">{% csrf_token %}
						<label>Email</label>
						<div class="pom-agile">
							<span class="fa fa-envelope-o" aria-hidden="true"></span>
							<input placeholder="Email" name="email" class="user" required="" type="email" value={{email}}>
						</div>
						<label>Password</label>
						<div class="pom-agile">
							<span class="fa fa-key" aria-hidden="true"></span>
							<input placeholder="Password" name="password" class="pass" required="" type="password">
						</div>
							<div class="clear"></div>
						</div>
						<div class="right-w3l">
							<input value="Log In" type="submit">
						</div>
						</br>
						<div class="text-center">Don't have an Account? <span class="alr_acc"><a href="{% url 'signup' %}">Sign Up</a></span></div>
					</form>
				</div>

			</div>
		</div>
	</section>
{% endblock %}