/*
Project Name: BillHarlOff
Developer Name : Taqi Raza Khan
EMail : taqiniazi61@gmail.com
Phone : +92-345-7372343
URL : http://www.taqirazakhan.com
*/


@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/Roboto-Black.ttf');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto-Thin.ttf');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'PlayfairDisplay-Black';
    src: url('../fonts/PlayfairDisplay-Black.ttf');
}
@font-face {
    font-family: 'PlayfairDisplay';
    src: url('../fonts/PlayfairDisplay-Regular.ttf');
}
@font-face {
    font-family: 'PlayfairDisplay-Bold';
    src: url('../fonts/PlayfairDisplay-Bold.ttf');
}



body{
	margin: 0;
	padding:0;
	font-size: 14px;
	line-height: 1.25;
	font-family: 'Roboto', Arial, sans-serf;
  color: #2b2e33;
}
a{
	color: #2d2d2d;
}
a:hover, a:focus, .active{
  text-decoration: none;
  color: #43bdfe;
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
img{
	width: 100%;
	vertical-align: top;
}
.thumbnail {
    padding: 15px;
    margin: 0;
    border-color: transparent;
    box-shadow: 0 0 3px #ddd;
}
.nopadding{
	padding: 0;
}
.btn{
  border-radius: 2px;
  padding: 10px 30px;
}
.nopaddingleft{
	padding-left: 0;
}
.nopaddingright{
	padding-right: 0;
}
.form-control{
	border-radius: 0px;
}
textarea{resize: none}
.navbar-default{
  border:0px;
  border-radius: 0px;
  background: transparent;
  /*padding: 5px 0;*/
  display: block;
  margin: 0;
}

.container .navbar-header{
    background: #43bdfe;
    padding: 3px 0;
}
.container .navbar-brand img{
  min-height: 55px;
}
header{
  background: #2b2e33;
}
.container{padding: 0}

.section_head{
  font-family: "PlayfairDisplay";
  font-size: 45px;
  color: #fff;
}
.popover{
  position: absolute !important;;
  left: 0 !important;;
  top: 0 !important;;
  z-index: 9999 !important;
}
.popover.right>.arrow, .popover.left>.arrow{
  display: none !important;
}
.section_head_inner{
  font-size: 36px;
  color: #2d2d2d;
}
.section_head_inner_sm{
  font-size: 18px
}
.section_head_inner_xs{
  font-size: 14px;
  color: #fff;
}
.new_text{
  max-width: 70%;
  margin: 0 auto;
}
.text-black{
  color: #2d2d2d;
}
.text-white{
  color: #fff;
}
.text-half{
  max-width: 50%;
}
.bg-info{
 background: #43bdfe;
}
/*Buttons*/

.btn-info{
  background: #43bdfe;
  border-color: #43bdfe;
}
.btn-info:hover, .btn-info:focus{
  background: #2db2f9;
  border-color: #2db2f9;
}
/* Top Bar */

.topheader{
  color: #fff;
}
.topheader ul{
  padding: 0;
  list-style: none;
}
.topheader ul li{
  display: inline-block;
  margin-right: 10px;
}
.topheader ul li:last-child{
  margin-right: 0;
}
.topheader ul li a{
  color: #fff;
  padding: 5px 10px;
  display: block;
}
.topheader ul.right-list{
  float: right;
}

/*Navigation*/
.navbar-default{
  background: url("../images/bg-head.jpg") no-repeat;
  background-size: cover
}
.navbar-default .navbar-nav > li > a{
  color: #2d2d2d;
}
.navbar-header{
  min-width: 260px;
  margin-right: 20px;
}
.navbar-brand{
  padding: 0;
  display: block;
}
.navbar-brand img{
  width: 100%;
  padding-left: 15px;
}
/*.navbar-brand:before{
  background: #43bdfe;
  position: absolute;
  content: '';
  left:0;
  right: 75%;
  top: 0;
  bottom: 0;
  z-index: -9999;
}*/
.navbar-nav{
  text-transform: uppercase;
  font-family: "Roboto-Bold", sans-serf;
  margin: 3px 0 0 90px;
}
.navbar-nav.nav2{
   margin: 3px 0 0 40px;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li> a:hover,
.navbar-default .navbar-nav > li> a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-nav > li > .dropdown-menu > li > a:hover{
  background: transparent;
  color: #43bdfe;
}

.navbar-nav > li > .dropdown-menu{
  left: -140px;
}
.navbar-nav > li > .dropdown-menu > li > a{
  display: block;
  padding: 10px 20px;
}
.navbar-nav > li > .dropdown-menu > li.seprator > a{
  border-bottom: 1px solid #ddd;
  padding:0;
  margin: 20px 0; 
}
.visibility-hidden{
  display: none;
}
.dropdown-toggle .fa{
  font-size: 18px;
}
.dropdown-toggle{
  font-family: "Roboto";
}
/*.dropdown-toggle:focus .fa-bars:before{
  content: '\f00d';
  color: #2d2d2d;
  transition: 0.4s;
  font-weight: 300;
}*/
/*.dropdown-toggle:focus span.visibility-hidden{
  visibility: visible;
  color: #2d2d2d;
  transition: 0.4s;
}*/
.navbar-nav > li {
  margin-right: 30px;
}
.navbar-nav > li:last-child{
  margin-right: 0;
}

/* Main Banner */

.main_banner{
  background: url("../images/bg_header.jpg") no-repeat;
  background-size: cover;
  padding: 50px 0 30px;
  color: #fff;
  text-align: center;
}
.main_banner img{
  max-width: 550px;
  margin: 20px auto 0;
  display: inline-block;
}
.main_banner h1{
  margin-bottom: 30px;
  font-family: "PlayfairDisplay";
}
.main_banner p{font-size: 18px; padding: 0 50px;}

/*Bottom Banner*/

.signup{
  font-size: 23px;
  font-family: "PlayfairDisplay";
}
.signup .btn{
  font-family: "Roboto";
}
.bottom_banner{
  padding: 12px 0 0;
  background: url("../images/bg-sign-up.jpg") no-repeat;
  background-size: cover; 
}
.right_side_bottom_header{
  position: relative;
  color: #fff;
  background: #2b2e33;
  margin-top: -12px;
  padding: 18px 0;
  text-align: center;
}
.right_side_bottom_header:before{
  content: '';
  left:0;
  right: -33%;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: -9999;
  background: #2b2e33;
}
.right_side_bottom_header .fa{
  margin-right: 25px;
}
.right_side_bottom_header .fa:last-child{
  margin-right: 0;
  color: #545558;
}

/*Investment Coaching*/
.investment_coaching {
    padding: 20px 0;
}
.coaching-text{
  max-width: 80%;
  color: #545558;
  padding: 0 40px;
}
.coaching-text p{
  font-size: 18px;
  margin-bottom: 25px
}
.main_text{
  font-family: "PlayfairDisplay";
  font-size: 42px;
  color: #2b2e33;
  position: relative;
  margin-bottom: 25px;

}
.main_text:before, .main_text:after{
  content: '';
  position: absolute;
  top: 18px;
  height: 70px;
  width: 3px;
  background: #000;
  z-index: 9999;
  left: -45px;
}
.main_text:after{
  content: '\f175';
  position: absolute;
  top: 115px;
  left: -50px;
  font-family: "FontAwesome";
  z-index: 0;
  width: 0;
  height: 0;
}

/* Team */

.team{
  background: url("../images/bg-team.jpg") no-repeat;
  background-size: cover;
  padding: 50px 0 40px;
}
.team_area{
  padding: 50px;
  background: #fff;
}
.team_area .more_about{
  display: block;
  margin: 20px 0 10px;
  font-size: 18px;
}


/* Crush */

.crush{
  background: url("../images/bg-crush.jpg") no-repeat;
  background-size: cover;
  padding: 50px 0 40px;
  color: #fff;
}
.crush p{
  max-width: 80%;
  line-height: 1.5;
  margin-bottom: 25px
}
.crush-img{
  max-width: 450px;
  float: right;
}
.crush-heading{
  font-size: 36px;
  font-family: "PlayfairDisplay";
  margin:10px 0 25px;
}
.crush_sub_imgs{
  max-width: 130px;
  display: block;
  margin-bottom: 10px;
}
.btn-crush-buy{
  background: #ffc439;
  color: #2b2e33;
  text-align: center;
  padding: 5px 25px;
  border-radius: 50px;
  font-family: "Roboto-Bold";
  margin-bottom: 5px;
}

/* Testmonials */

.testmonials{
  padding: 40px 0 10px;
  overflow: hidden;
}

.section-title{
  font-family: "PlayfairDisplay";
  font-size: 40px;
  position: relative;
  text-align: center;
  margin-bottom: 25px;
}
.section-title:after{
  position:absolute;
  content: '';
  width: 80px;
  height: 5px;
  background: #2b2e33;
  left: 50%;
  bottom: -10px;
  margin-left: -40px;
}

#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #2d2d2d;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
  opacity: 1;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -18%;
  top: 30%;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -18%;
  top: 30%;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
#quote-carousel .carousel-inner>.item{
  height: 195px;
}
/* End carousel */

.item.active{
  color: #2d2d2d
}
.test-info{
  margin-top: 15px;
  font-weight: 700;
  margin-bottom: 25px;
}
.font_play{
  font-family: "PlayfairDisplay";
}

/* About Us */

.about_us_banner, .events_banner, .courses_banner,
.testmonials_banner,.contact_us_banner,.coaching_banner{
  background: url("../images/about_us_banner.jpg") no-repeat;
  background-size: cover;
  padding: 80px 0;
}
.about_me,.motivator, .events, .courses{
  padding: 40px 0 0;  
}
.about_me_area p{
  width: 74%;
  margin-bottom: 25px;
}

.motivator{
  background: #f9f9f9;
}
.motivator_area{
  padding: 50px 0;
}
.div_head {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
.motivator_area p{
  max-width: 80%;
  margin:0 auto 35px;
}

/* Events */

.events_banner{
    background: url("../images/events_banner.jpg") no-repeat;
    background-size: cover;
}
.events{
  background: #f7f7f7;
}
.calender{
  padding: 40px 0;
}
.fc-toolbar.fc-header-toolbar {
    margin-bottom: 0;
    background: #43bdfe;
    color: #fff;
    text-align: center;
    padding: 10px 0 0;
}
.fc .fc-toolbar > * > *, .fc-toolbar .fc-left{
  float: none;
}
.fc-right{
  display: none;
}
.fc-widget-header span{
  display: inline-block;
  padding: 15px 0;
}
.fc .fc-row .fc-content-skeleton table, .fc .fc-row .fc-content-skeleton td, .fc .fc-row .fc-helper-skeleton td{
  position: relative;
}
.fc-event {
    position: absolute;
    display: block;
    font-size: 14px;
    line-height: 1.3;
    border-radius: 3px;
    border: 1px solid #43bdfe;
    background-color: #43bdfe;
    top: -24px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: -99;
    padding-top: 40px
}
.fc-ltr .fc-basic-view .fc-day-top .fc-day-number{
  float: left;
  padding: 0 5px;
}
.fc-basic-view .fc-day-number, .fc-basic-view .fc-week-number{padding: 0}
tr:first-child > td > .fc-day-grid-event{margin:0;}


/* Course Page */
.courses_banner{
    background: url("../images/events_banner.jpg") no-repeat;
    background-size: cover;
}
.course_area{
  margin-top: 25px;
  padding: 0
}
.courses_list{
  background: #fff;
  margin-bottom: 15px;
  overflow: hidden;
}
.courses_list h2{
  margin: 10px 0 0;
  font-size: 22px;
}
.course_type{
  margin: 0;
  padding: 15px 0 0;
}
.text_course{
  padding:15px;
  height: 180px;
}
.auther_area {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}
.auther_area img{
  max-width: 50px;
  float: left;
  margin-right: 15px;
}
.auther_area strong{
  padding-top: 15px; 
  display: block;
}
.courses{
  background: #f0f0f0;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover,
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover{
  background: #43bdfe;
  border-color: #43bdfe;
  color: #fff;
}
.pagination > li > a{
  color: #2b2e33;
}
.more_pages{
  overflow: hidden;
  padding: 10px 0 40px;
}
.more_pages .btn{
  font-size: 22px;
  text-transform: uppercase;
}
.course_list{
  padding-top: 40px;
}
/*Testmonials Page*/
.testmonials_banner{
  background: url("../images/testmonials_banner.jpg") no-repeat;
  background-size: cover;
}
/* Carousel */

#testmonials_carousel {
    padding: 0 10px 30px 10px;
    margin-top: 150px;
    /* Control buttons  */
    /* Previous button  */
    /* Next button  */
    /* Changes the position of the indicators */
    /* Changes the color of the indicators */
}
#testmonials_carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#testmonials_carousel .carousel-control.left {
    left: -60px;
}
#testmonials_carousel .carousel-control.right {
    right: -60px;
}

#testmonials_carousel .carousel-indicators {
  right: 50%;
  top: auto;
  top: -140px;
  margin-right: -19px;
}
#testmonials_carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px ;
    cursor: pointer;
    border: 2px solid #CCC;
    border-radius: 50px;
    opacity: 0.7;
    overflow: hidden;
    transition: all 0.4s;
}
#testmonials_carousel .carousel-indicators .active {
    background: #333333;
    width: 128px;
    height: 128px;
    border-radius: 100px;
    border-color: #43bdfe;
    opacity: 1;
    overflow: hidden;
}
#testmonials_carousel .carousel-control{
  color: #43bdfe;
  opacity: 1;
}
#testmonials_carousel .carousel-inner {
  max-width: 95%;
  margin: 0 auto;
  overflow: hidden;
  height: 195px;
}
#testmonials_carousel .carousel-inner .item blockquote {
    border-left: none;
    margin: 0;
    padding: 30px 5px 5px;
}
#testmonials_carousel .carousel-inner .item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

.testmonial_main_text blockquote {
    border-left: none;
    margin: 0;
    padding: 30px 40px 5px;
    color: #fff;
    position: relative;
    max-width: 60%;
    text-align: center;
}
.testmonial_main_text blockquote:before , .testmonial_main_text blockquote:after {
    content: "\f10d";
    font-family: 'Fontawesome';
    margin-right: 10px;
    position: absolute;
    z-index: 9999;
    margin: 0 ;
    left: 0;
}
.testmonial_main_text blockquote:after{
  right: 50px;
  left: auto;
}
.relative{
  position: relative;
}
.test_ban {
    position: absolute;
    top: -80px;
    right: 12%;
    width: 242px;
}


/*Coaching Banner*/
.coaching{
  padding:40px 0;
  background: #f5f5f5;
}
.package_box{
  margin: 20px 0;
}
.package_box.premium{
  box-shadow: 0 0 5px #ddd;
}

.inner_heading{
  max-width: 70%;
  margin: 15px auto;
}
.bronze{
  background: #cd7f32;
}
.silver{
  background: #c0c0c0;
}
.gold{
  background: #deab23;
}
.package_head{
  text-align: center;
  padding: 20px;
}
.package_head p{
  font-size: 20px;
}
.package_head p+p{
  font-size: 48px;
  font-family: 'Roboto-Light';
}
.package_head sub , .package_head sup{
  font-size: 14px;
}
.package_head sup{
  top: -20px;
}
.btn_start{
  background: #fdfdfd;
  background: -moz-linear-gradient(top, #fdfdfd 0%, #e7e7e7 100%);
  background: -webkit-linear-gradient(top, #fdfdfd 0%,#e7e7e7 100%);
  background: linear-gradient(to bottom, #fdfdfd 0%,#e7e7e7 100%);
  border:2px solid #ddd;
  font-weight: bold;
  text-transform: uppercase;
}
.package_list{
  background: #fff;
  text-align: center;
}
.package_list li{
  padding: 20px 10px;
  border-bottom: 1px solid #f5f5f5
}


/*Modal*/
.modal-body{
  padding: 0;
}
.image_pop{
  width: 200px;
  float: left;
  margin-right: 20px;
}
.image_pop img{
  width: 100%;
  height: 367px;
}
.popup_head{
  font-size: 38px;
  margin-bottom: 25px;
}
.text_area_pop{
  padding: 60px 0 30px;
}
.text_area_pop p{
  font-size: 24px;
  font-family: "Roboto-Thin";
  margin-bottom: 35px;
}
button.close{
  margin: 7px 10px 0;
  opacity: 1;
}
.text_area_pop .btn{
  text-transform: uppercase;
}
.modal-dialog{
  margin: 10% auto 0;
}





/* Contact Us */

.contact_us_banner{
  background: url("../images/contact_us_banner.jpg") no-repeat;
  background-size: cover; 
}
.contact_us{
   background: url("../images/contact_us.jpg") no-repeat;
   background-position:170px 100%;
   background-size: cover;
   overflow: hidden;
   padding: 0;
}
.paddingTop40{
  padding-top: 40px;
}
.left{
  float: left;
  width: 40px;
  min-height: 70px;
  font-size: 24px;
  padding-top: 15px;
}
.right{
  max-width: 70%;
}
.address_info{
  padding: 15px;
}
.address_info li{
  margin-bottom: 30px;
  min-height: 35px;
}
.address_info li:last-child{
  margin-bottom: 0;
  min-height: auto;
}
.address_info strong{
  display: block;
  margin-bottom: 10px;
}




/* Footer Top */

.footer-top{
  padding: 150px 0 130px;
  background: url("../images/footer-top.jpg") no-repeat;
  background-size: cover;
}
.text-footer{
  margin: 0 auto;
  max-width: 580px;
  padding: 20px 0 0 50px;
  font-size: 50px;
  font-family: "PlayfairDisplay";
  color: #fff;
  text-align: center;
}


/* Footer */

footer{
  background: #2b2e33;
  color: #fff;
  font-family: "PlayfairDisplay";
  padding:20px 0 0; 
  position: relative;
}
.follow-us{
	font-size: 28px;
	padding-left: 0;
	text-transform: uppercase;
	font-weight: 700;
}
.company-info{
  background: #43bdfe;
  padding:35px;
  font-size: 32px; 
  position: absolute;
  right: 0;
  left: 45%;
  top: 0;
  z-index: 9999;
}
.copy-rights{
  margin-top: 100px;
  text-align: center;
  font-family: "Roboto";
  text-align: right;
}




















/*Media Quries*/

@media screen and (max-width: 980px){
  .nav > li > a{
    padding: 10px 0;
  }
  .navbar-brand:before{
    right: 65%;
  }
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
      height: 230px;
     /* overflow: hidden;
      font-size: 4px;*/
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
    .text-half {
      max-width: 100%;
    }
    .about_me_area p{
      width: 100%;
    }
    .company-info{
      font-size: 21px;
      text-align: center;
    }
}





@media screen and (max-width: 640px){
  .container{padding: 0 10px; overflow:hidden;}
  .topheader{display: none}
  .navbar-brand:before{
    left: 0;
    right: 0;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form{
    margin-top: 10px;
  }
  .navbar-default .navbar-nav > li > a{
    padding: 10px 20px;
  }
  .navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li.active > a:hover, .navbar-default .navbar-nav > li.active > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover, .navbar-nav > li > .dropdown-menu > li > a:hover{
    color: #fff;
  }
  .main_banner p{padding: 0 20px; }
  .signup{min-height: 150px;}
  .signup .btn{margin-top: 20px;}
  .coaching-text, .crush p{
    max-width: 100%;
  }
  .main_text{font-size: 24px;}
  .crush-img{
    margin-bottom: 20px;
  }
  #quote-carousel .carousel-control.left{
    left: -20px;
  }
  #quote-carousel .carousel-control.right{
    right: -20px;
  }
  .text-footer{
    padding: 0 15px;
    font-size: 40px; 
  }
   .follow-us{
    padding:0;
    font-size: 22px;
    text-align: center;
    margin-top: 90px;
  }
  .company-info{
    left: 0px;
    padding:15px; 
    top: 0;
  }
  .copy-rights {margin-top: 20px; text-align: center}
  .navbar-default{background:transparent;}
  .navbar-default .navbar-toggle .icon-bar{
    background: #fff;
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background: rgba(0,0,0,.5);
  }
  .nav.navbar-nav.pull-right{
    float: none !important;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a{
    color: #000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
    color: #fff;
  }
  .navbar-nav > li > .dropdown-menu{
    left: 0;
    width: 100% !important;
  }
  .section_head_inner, .section_head{
    font-size: 30px;
  }
  .section_head_inner_sm {
    font-size: 14px;
  }
  .nopaddingmobile{padding: 0;}
  .courses_list h2 {
    font-size: 24px;
  }

}

