{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="BillHarlOff">
	<meta name="author" content="Taqi Raza Khan">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BillHarlOff Webinar Package</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/fullcalendar.min.css' %}" rel="stylesheet" />
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">




</head>

<body>
	<!-- Navbar Default -->
	<header>
		<div class="container topheader">
			<div class="row">
				<div class="col-md-6 col-sm-8">
					<ul class="left-list">
						<li>
							<a href="">
								<i class="fa fa-clock-o"></i>
								24/7 Availible
							</a>
						</li>
						<li>
							<a href="tel:+17709194877">
								<i class="fa fa-phone"></i>
								+1 (770) 919 4877
							</a>
						</li>
						<li>
							<a href="mailto:info@billharloff.com">
								<i class="fa fa-envelope"></i>
								info@billharloff.com
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-6 col-sm-4">
					<ul class="right-list">
						<li>
							<a href="">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="https://www.linkedin.com/in/bill-harloff-7a77b469/">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-google"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</header>

	<nav class="navbar navbar-default" id="top">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="index.html"><img src="{% static 'images/logo.png' %}" alt="BillHarlOff" class="img-responsive"></a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      	<ul class="nav navbar-nav">

				<li><a href="about.html">ABOUT</a></li>
				<li class="active"><a href="{% url 'coaching' %}">COACHING</a></li>
				<li><a href="{% url 'courses' %}">COURSES</a></li>
				<li><a href="{% url 'events' %}">EVENTS</a></li>
				<li><a href="{% url 'contact' %}">contact</a></li>
    			{% if request.session.logged_in != None %}
					<li class="nav-login dropdown">
	                 	<div class="dropdown">
 							<a>  <button class="dropbtn">{{request.session.name}}</button></a>
 							<div class="dropdown-content">
 							 	<a class="logd_in" href="/profile">Member's Area</a>
 							    <a class="logd_in" href="{% url 'logout' %}">Logout</a>
 							</div>
						</div>
					</li>
				{% else %}
					<li class="nav-login"><a href="{% url 'login' %}">Login/Signup</a></li>
	
				{% endif %}


		    </ul>
		    <ul class="nav navbar-nav pull-right nav2">
		    	<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<span class="fa fa-bars"></span>
						<span class="visibility-hidden">Less <i class="fa fa-times"></i></span>
					</a>
					<ul class="dropdown-menu pull-left">
                      <li><a href="{% url 'testimonials' %}">TESTIMONIALS</a></li>
					  <li><a href="{% url 'comming-soon' %}">SUCCESS STORIES</a></li>
					  <li><a href="{% url 'comming-soon' %}">SELF ASSESSMENTS</a></li>
					  <li><a href="{% url 'comming-soon' %}">GROWTH SOLUTIONS</a></li>
					  <li><a href="{% url 'comming-soon' %}">MEDIA LIBRARY</a></li>
					  <li class="seprator"><a href="#"></a></li>
					  <li><a href="{% url 'comming-soon' %}">BREAKTHROUGH MOBILE</a></li>
					  <li><a href="{% url 'comming-soon' %}">GET INVOLVED</a></li>
					  <li><a href="{% url 'comming-soon' %}">WE’RE HIRING</a></li>
					  <li><a href="{% url 'comming-soon' %}">TERMS OF SERVICE</a></li>
					  <li><a href="{% url 'comming-soon' %}">PRIVACY POLICY</a></li>
					</ul>
				</li>
		    </ul>
	    </div>
	  </div>
	</nav>
	<div class="clearfix"></div>


	<section class="course_funnel_banner text-white">
		<div class="container">
			<div class="col-md-12 ">
				<div class="funnel_head packagehead" >Bronze Plan Coaching Membership Access</div>
				<h3 class="text-center innerhead"> Join today and you’ll start your investing career in your first 30 days, guaranteed!</h3>
			</div>
			<div class="clearfix"></div>
            <div class="col-md-12 form_area">
				<div class="col-md-5 col-sm-5">
					<img src="{% static 'images/webinarpackage.jpg' %}" class="img-responsive">
				</div>
				<div class="col-md-7 col-sm-7">
					<form class="form_builder" method="post" id="theForm" name="theForm">{% csrf_token %}
						<div class="col-md-12 form-group">

						</div>

                        <div class="col-md-12 form-group">

							<div class="order-sum webinar_order_summary">Order Summary</div>

							<div class="col-md-6 col-sm-6 nopadding form-group">3 Months Bronze Plan Membership <br> <i>30 day money back guarentee!</i></div>
							<div class="col-md-6 col-sm-6 nopadding form-group text-right">
								<strong>$1491.00</strong>
							</div>
							<div class="clearfix"></div>

							<div id="paypal-button-container" name="paypal-button-container" style="width: 100% !important"></div>
						</div>

						<div class="col-md-12 form-group"  id="paypal-button-container" name="paypal-button-container">

							<!--<button class="btn btn-success btn-block" style="font-size: 18px">
								<strong>Pay $997.00</strong>
							</button>-->
						</div>
                        <div class="col-md-12 empty_div form-group">

						</div>

					</form>
				</div>
                <div class="clearfix"></div>
			</div>

            <script>

        paypal.Button.render({

            env: 'production', // sandbox | production

            // PayPal Client IDs - replace with your own
            // Create a PayPal app: https://developer.paypal.com/developer/applications/create
            client: {
                sandbox:    '{{ client_id }}',
                production: '{{ live_id }}'
            },

            // Show the buyer a 'Pay Now' button in the checkout flow
            commit: true,

            // payment() is called when the button is clicked
            payment: function(data, actions) {

                // Make a call to the REST api to create the payment
                return actions.payment.create({
                    payment: {
                        transactions: [
                            {
                                amount: { total: '1491', currency: '{{ currency }}' }
                            }
                        ]
                    }
                });
            },

            // onAuthorize() is called when the buyer approves the payment
            onAuthorize: function(data, actions) {

                // Make a call to the REST api to execute the payment
                return actions.payment.execute().then(function(payment) {
                    var email=payment.payer.payer_info.email;
                    var amount =payment.transactions[0].amount.total;
                    console.log(email,amount,'in api function - payment approved');
                    //document.getElementById('id_confirmation').value = "true";
                    //document.getElementById('id_amount').value = {{ amount }};
                    function getCookie(name) {
					    var cookieValue = null;
						    if (document.cookie && document.cookie !== '') {
						        var cookies = document.cookie.split(';');
						        for (var i = 0; i < cookies.length; i++) {
						            var cookie = jQuery.trim(cookies[i]);
						            // Does this cookie string begin with the name we want?
						            if (cookie.substring(0, name.length + 1) === (name + '=')) {
						                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						                break;
						            }
						        }
						    }
						    return cookieValue;
						}
					var csrftoken = getCookie('csrftoken');
					console.log(csrftoken);
                    //document.theForm.submit();
                    $.ajax({
                    	type: "POST",
                    	url :'/updateplan',
                    	data: {
                    		"email":email,
                    		"amount" :amount
                    		  },
                    	beforeSend: function(xhr, settings) {
					         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
					             // Only send the token to relative URLs i.e. locally.
					             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
					         }
					     } ,
                    	success:function(data){
                    		if(data==1)
                    		{
                    			window.location = "/login/";
                    		}
                    		else
                    		{
                    			console.log("Error");
                    		}
                    		//if response is 1 , redirect
                    	}
                    });
                });
            }

        }, '#paypal-button-container');

        function dummyClick() {
            document.getElementById('id_confirmation').value = "true";
            document.getElementById('id_amount').value = '1491';
            document.theForm.submit();
        }
    </script>



<form method="post" id="theForm" name="theForm" action="">
    {% csrf_token %}
    {{ paypalForm.amount }}
    {{ paypalForm.confirmation }}
</form>
			<div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>

		<div class="container">

            <section class="coaching what_you_get">
                <div class="container">
                    <div class="col-md-12 form-group text-center">
                        <div class="section_head_inner font_play text-white" style="color:#cd7f32"> Bronze Plan Coaching Membership</div>
                        <p class="inner_heading">Membership Includes</p>
                    </div>
                    <div class="clearfix"></div>
                   
                    <div class="col-md-4 block-center">
                        <div class="bullet-style">
                             <!-- <div class="package_head bronze">
                                <p class="text-white font_play">Bronze Plan Coaching Membership </br>Membership Includes</sub></p>
                            </div> -->
                            <ul class="">
                                <li>Monthly Group Call with Bill: Monthly REI Success Session- (limit of 5 members per call!)</li>
                                <li> Unlimited Access to the Entirety of B.H Coaching’s Resource Library for Training Courses, Contracts, Marketing Materials, and More!</li>
                                <li>One-on-One Coaching by Bill’s Personally Trained Staff of REI Professionals to Support You During the Implementation of Bill's Strategies.</li>
                                <li>Access to All of B.H. Coaching’s Monthly Networking Live-Stream Sessions and Webinars.
								</li>
                            </ul>
                        </div>
                    </div>
                   
                </div>
            </section>

            <div class="col-md-12 join_us what_you_get">
                <div class="col-md-4 col-sm-4">
                    <img src="/assets/images/bill_course_funnel.jpg" class="img-responsive">
                </div>
                <div class="col-md-8 col-sm-8">
                    <div class="funnel_heading_sub">
                        30 day Money Back Guarantee
                    </div>
                    <p> I am so confident that this package will not only give you the confidence to kick start and further advance your Real Estate Investing career, but will provide you the tools, tactics and strategies to succeed in reaching your dreams, that I personally guarantee if you’re not satisfied with your purchase, I will send your money back, no questions asked!</p>
                </div>
                <div class="clearfix"></div>
            </div>
			<div class="col-md-12 what_you_get webinar_packages">
				<div class="funnel_head packagehead text-right">THERE’S NEVER BEEN A BETTER TIME TO INVEST IN REAL ESTATE!!!
</div>
                <p> That’s why Bill is taking his investments to the next level by looking for people who are serious 
                about making money in Real Estate and Partnering on Deals. 
                </p>
               <div class="more_pages text-center">
                   <h3>Purchase today, and join the network!</h3>
                    <a class="btn btn-info" href="#top">PURCHASE TODAY!</a>
                   <br>
                   <img src="{% static 'images/gurrenty.png' %}" class="img-responsive" style="max-width: 200px; margin: 25px auto 0">
               </div>
			</div>
	</section>

	<div class="clearfix"></div>


	<footer class="footer">
		<div class="container">
			<div class="col-md-5 col-sm-6">
                <div class="follow-us" style="font-size: 29px;padding-left: 0%;">
                    <a href="https://mailchi.mp/9acf17dcf3b8/top5financingyourflipstrategies">DOWNLOAD BILL’S TOP 5 FINANCING STRATEGIES!</a>
                </div>
			</div>
			<div class="col-md-7 col-sm-6">
				<p class="copy-rights">©2018 • PRIVACY POLICY</p>
			</div>
			<div class="company-info">BILL HARLOFF, Instructor & Coach</div>
		</div>
	</footer>
	
	<script src="{% static 'js/moment.min.js' %}"></script>
	<script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/fullcalendar.min.js' %}"></script>
   

    <script type="text/javascript">
    	$(document).ready(function(){
			 $(".dropdown-toggle").click(function(){
			 	$(".visibility-hidden").toggle();
			 	$(".fa-bars").toggle();
			 });  				 
  		});
    </script>

    <script>

  $(document).ready(function() {

    $('#calendar').fullCalendar({
      defaultDate: '2018-03-12',
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: [
        {
          title: 'All Day Event',
          start: '2018-03-01'
        },
        
        {
          id: 999,
          title: 'Repeating Event',
          start: '2018-03-09T16:00:00'
        },
        
        {
          title: 'Birthday Party',
          start: '2018-03-13T07:00:00'
        }
      ]
    });

  });

</script>


    
</body>
</html>