{% extends 'base.html' %}
{% load static %}
{% block content %}
 
    <section class="coaching_banner">
		<div class="container">
			<h1 class="section_head text-center">Coaching</h1>
			
		</div>
	</section>
	
	
	<section class="coaching">
		<div class="container">
			<div class="col-md-12 form-group text-center">
				<div class="section_head_inner font_play">Coaching Membership</div>
				<p class="inner_heading">As your personal Real Estate Investing Coach, Bill Harloff will apply his 38 years of Real Estate development, investing and coaching experience to train you achieving in your unique investing career goals.
                    You will have unlimited access to Bill’s online courses and webinars, as well as practice live with Bill using his proven techniques, guides, and strategies.</p>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-4">
				<div class="package_box">
					<div class="package_head bronze">
						<p class="text-white font_play">Bronze Plan</p>
						<p class="text-white"><sup>$</sup>497<sub>/month</sub></p>
                       
                        {% if request.session.logged_in != None %}
                        	 <a href="{% url 'brozepackage' %}"><button class="btn btn_start btn-sm" >Start Now !</button></a>
                        {% else %}
    						<a><button class="btn btn_start btn-sm" onclick="cpkg('brozepackage')">Start Now !</button></a>
    					{% endif %}
					</div>
					<ul class="package_list">
						<li>Unlimited access to the entirety of B.H Coaching’s resource library for training courses, contracts, marketing materials, and more</li>
						<li>Unlimited email access to Bill’s personally trained staff to support you during the implementation of Bill's strategies</li>
						<li>Access to B.H. Coaching’s Real Estate Investing Success Q&A Webinar, LIVE monthly with Bill</li>

                        <li>
                            3 month commitment w/ 30 day money back guarantee
                        </li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="package_box premium">
					<div class="package_head silver">
						<p class="font_play">Silver</p>
						<p class="text-black"><sup>$</sup>997<sub>/month</sub></p>
                        
                        {% if request.session.logged_in != None %}
                        	 <a href="{% url 'silverpackage' %}"><button class="btn btn_start btn-sm">Start Now !</button></a>
                        {% else %}
    						<a><button class="btn btn_start btn-sm" onclick="cpkg('silverpackage')">Start Now !</button></a>
    					{% endif %}
					</div>
					<ul class="package_list">
						<li>Everything in the Bronze Plan, plus</li>
						<li>Personal Investor Assessment and Financial Plan Coaching with CPA staff</li>
						<li>Getting Started and Growing Your Real Estate Investing Business One-on-One Appointment</li>
						<li>Access to B.H. Coaching’s monthly Team Building Networking Webinar</li>

                        <li>
                            3 month commitment w/ 30 day money back guarantee
                        </li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="package_box">
					<div class="package_head gold">
						<p class="text-white font_play">Gold</p>
						<p class="text-white"><sup>$</sup>1,497<sub>/month</sub></p>
                       {% if request.session.logged_in != None %}
                        	 <a href="{% url 'goldpackage' %}"><button class="btn btn_start btn-sm">Start Now !</button></a>
                        {% else %}
    						<a><button class="btn btn_start btn-sm" onclick="cpkg('goldpackage')">Start Now !</button></a>
    					{% endif %}
					</div>
					<ul class="package_list">
						<li>Everything in the Silver Plan, plus</li>
						<li>Monthly 8-Hour Real Estate Investing Bootcamp Live Webinar</li>
						<li>One-on-one Investment Success Coaching phone call with Bill per month</li>
						<li>Join the Deal Network: B.H. Coaching's national database of investors, contractors, attorneys, etc.</li>
                        <li>
                            3 month commitment w/ 30 day money back guarantee
                        </li>
                        
                        
					</ul>
				</div>
			</div>
		</div>
	</section>

	<div class="footer-top">
		<div class="text-footer">
			WE STRIVE <br> TO HELP YOU GROW!
		</div>
	</div>
	<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
   
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:15px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center><h4><span class="glyphicon glyphicon-lock"></span> Please login to continue</h4></center>
          {% if message %}
          	{{ message }}
          {% endif %}
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form"  id='loginform'>
          	<div class="  alert-dismissible text-center" id="alert_box">
   					<p id='message'></p>
   					</div>
          	
          	{% csrf_token %}
            <div class="form-group">
            	<input type='hidden' name='link' id='link'>
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
              <input type="email" class="form-control" placeholder="Enter email" name='email2' id="email2">
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="password" class="form-control" id="password2" placeholder="Enter password" name='password2'>
            </div>
              <button type="button" id="lgnbtn" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
          </form>
        </div>
        <div class="modal-footer">
          <!-- <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button> -->
          <center><p>Not a member? <a href="{% url 'signup'%}">Sign Up</a></p></center>
          <!-- <p>Forgot <a href="#">Password?</a></p> -->
        </div>
      </div>
      
    </div>
  </div> 

{% endblock %}