{% extends 'base.html' %}
{% load static %}
{% block content %}
 
    <section class="coaching_banner">
		<div class="container">
			<h1 class="section_head text-center">Coaching</h1>
			
		</div>
	</section>
	
	
	<section class="coaching">
		<div class="container">
			<div class="col-md-12 form-group text-center">

				<div class="section_head_inner font_play">Coaching Membership</div>
				<p class="inner_heading">As your personal Real Estate Investing Coach, Bill Harloff will apply his 38 years of Real Estate development, investing and coaching experience to train you achieving in your unique investing career goals.
                    You will have unlimited access to Bill’s online courses and webinars, as well as practice live with Bill using his proven techniques, guides, and strategies.</p>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-4">
				<div class="package_box">
					<div class="package_head bronze">

            <div class="showhim"><i class="fa fa-info-circle pull-right" style="font-size:20px;color:black"></i><div class="showme">
                <h4><b>Choose Your Plan Based Your Goals:</b><br></h4>
              <b>“I’m ready to get started” <br>

          “I want to get access to the program and 
          materials and start learning”<br>

          “I want to ask my questions and talk with
           Bill but I’m ok with an informal setting,
            such as group calls”<br>

          “I just want to feel it out for now and 
          see if I can take it from there and do it on my own”</b><br>

            </div></div>
          <!-- <div id="tooltip" style="display:none;">Choose Your Plan Based Your Goals:<br>

          <b>“I’m ready to get started” <br>

          “I want to get access to the program and 
          materials and start learning”<br>

          “I want to ask my questions and talk with
           Bill but I’m ok with an informal setting,
            such as group calls”<br>

          “I just want to feel it out for now and 
          see if I can take it from there and do it on my own”</b><br>
                 
          </div>

                          <div id="yourLink"><i class="fa fa-info-circle pull-right" style="font-size:20px;color:black"></i></div> -->
						<p class="text-white font_play">Bronze Plan</p>
						<p class="text-white"><sup>$</sup>497<sub>/month</sub></p>
                       
                        {% if request.session.logged_in != None %}
                        	 <a href="{% url 'brozepackage' %}"><button class="btn btn_start btn-sm" >Start Now !</button></a>
                        {% else %}
    						<a><button class="btn btn_start btn-sm" onclick="cpkg('brozepackage')">Start Now !</button></a>
    					{% endif %}
					</div>
					<ul class="package_list">
						<li>Monthly Group Call with Bill: Monthly REI Success Session- (limit of 5 members per call!)</li>
                        <li> Unlimited Access to the Entirety of B.H Coaching’s Resource Library for Training Courses, Contracts, Marketing Materials, and More!</li>
                        <li>Unlimited Email Access to Bill’s Personally Trained Staff of REI Professionals to Support You During the Implementation of Bill's Strategies.</li>
                        <li>Access to All of B.H. Coaching’s Monthly Networking Live-Stream Sessions and Webinars.
						</li>
                        <li style='padding:5.5%;'>
                            3 month commitment w/ 30 day money back guarantee
                        </li>
                        
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="package_box premium">
					<div class="package_head silver">

             <div class="showhim"><i class="fa fa-info-circle pull-right" style="font-size:20px;color:black"></i><div class="showme">
                <h4><b>Choose Your Plan Based Your Goals:</b><br></h4>
              <b>“I’m ready to take it to the next level”<br>

          “I’ve started learning and have felt it out” <br>

          “Now I’m ready to to start building / 
          growing my business with BH Coaching’s help” <br>

          “Now I would like one-on-one access to Bill
           to ask him my sensitive and specific questions”</b><br>

            </div></div>



          <!-- <div id="tooltip2" style="display:none;">Choose Your Plan Based Your Goals:<br>

          <b>“I’m ready to take it to the next level”<br>

          “I’ve started learning and have felt it out” <br>

          “Now I’m ready to to start building / 
          growing my business with BH Coaching’s help” <br>

          “Now I would like one-on-one access to Bill
           to ask him my sensitive and specific questions”</b><br>
                 
          </div>

                          <div id="yourLink2"><i class="fa fa-info-circle pull-right" style="font-size:20px;color:black"></i></div> -->


						<p class="font_play">Silver</p>
						<p class="text-black"><sup>$</sup>997<sub>/month</sub></p>
                        
                        {% if request.session.logged_in != None %}
                        	 <a href="{% url 'silverpackage' %}"><button class="btn btn_start btn-sm">Start Now !</button></a>
                        {% else %}
    						<a><button class="btn btn_start btn-sm" onclick="cpkg('silverpackage')">Start Now !</button></a>
    					{% endif %}
					</div>
					<ul class="package_list">
						<li>Everything in the Bronze Plan, plus</li>
                        <li>Bi-Monthly Private Call with Bill: Getting Started and Growing Your REI Business Session.</li>
                        <li>Access to the Deal Network: B.H. Coaching's National Database of Investors, Wholesalers, Rehabbers, Contractors, Attorneys, etc.</li>
                        <li>Custom-Branded Investor Website: All the Tools You Need to Run Your Business, From Marketing Automation and Lead Generation to Closing the Deal.</li>
                        <li style='padding:8.5%;'>
                            3 month commitment w/ 30 day money back guarantee
                        </li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="package_box">
					<div class="package_head gold">

            <div class="showhim"><i class="fa fa-info-circle pull-right" style="font-size:20px;color:black"></i><div class="showme">
                <h4><b>Choose Your Plan Based Your Goals:</b><br></h4>
               <b>“Now I’m really serious” <br>

          “I want all the tools and personal
          training from BH Coaching to be a success” <br>

          “I want a lot of access to Bill”<br>

          “I’m making a serious investment 
          on a monthly basis,now I need 
          BH Coaching to be my partner”</b><br>

            </div></div>

          <!-- <div id="tooltip3" style="display:none;">Choose Your Plan Based Your Goals:<br>

          <b>“Now I’m really serious” <br>

          “I want all the tools and personal
          training from BH Coaching to be a success” <br>

          “I want a lot of access to Bill”<br>

          “I’m making a serious investment 
          on a monthly basis,now I need 
          BH Coaching to be my partner”</b><br>
                 
          </div>

                          <div id="yourLink3"><i class="fa fa-info-circle pull-right" style="font-size:20px;color:black"></i></div> -->

						<p class="text-white font_play">Gold</p>
						<p class="text-white"><sup>$</sup>1,497<sub>/month</sub></p>
                       {% if request.session.logged_in != None %}
                        	 <a href="{% url 'goldpackage' %}"><button class="btn btn_start btn-sm">Start Now !</button></a>
                        {% else %}
    						<a><button class="btn btn_start btn-sm" onclick="cpkg('goldpackage')">Start Now !</button></a>
    					{% endif %}
					</div>
					<ul class="package_list">
						 <li>Everything in the Bronze Plan & Silver Plan, plus </li>
                                <li> Monthly Private Call with Bill: B.H. Coaching’s Partners Program Success Session.</li>
                                <li>Business Plan Assessment and Financial Plan Coaching with Ongoing Support by B.H. Coaching’s CPA Staff.
								</li>
								<li>B.H. Coaching’s Partners Program: Get Full-Access to Bill’s Personal Deal Flow and Be First in Line to Partner with Bill on His Deals!
								</li>                         
                        <li style='padding:8.5%;'>
                            3 month commitment w/ 30 day money back guarantee
                        </li>
                       
                        
                        
					</ul>
				</div>
			</div>
		</div>
	</section>

	<div class="footer-top">
		<div class="text-footer">
			WE STRIVE <br> TO HELP YOU GROW!
		</div>
	</div>
	<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
   
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:15px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center><h4><span class="glyphicon glyphicon-lock"></span> Please login to continue</h4></center>
          {% if message %}
          	{{ message }}
          {% endif %}
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form"  id='loginform'>
          	<div class="  alert-dismissible text-center" id="alert_box">
   					<p id='message'></p>
   					</div>
          	
          	{% csrf_token %}
            <div class="form-group">
            	<input type='hidden' name='link' id='link'>
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
              <input type="email" class="form-control" placeholder="Enter email" name='email2' id="email2">
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="password" class="form-control" id="password2" placeholder="Enter password" name='password2'>
            </div>
              <button type="button" id="lgnbtn" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
          </form>
        </div>
        <div class="modal-footer">
          <!-- <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button> -->
          <center><p>Not a member? <a href="{% url 'signup'%}">Sign Up</a></p>
          	<center><p>Forgot Password? <a href="{% url 'forgotpass'%}">Click Here</a></p></center>
          <!-- <p>Forgot <a href="#">Password?</a></p> -->
        </div>
      </div>
      
    </div>
  </div> 

{% endblock %}