{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="BillHarlOff">
	<meta name="author" content="Taqi Raza Khan">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BillHarlOff</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/fullcalendar.min.css' %}" rel="stylesheet" />
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/comming-soon.css' %}" rel="stylesheet">

</head>

<body>
	<!-- Navbar Default -->
	<header>
		<div class="container topheader">
			<div class="row">
				<div class="col-md-6 col-sm-8">
					<ul class="left-list">
						<li>
							<a href="">
								<i class="fa fa-clock-o"></i>
								24/7 Availible
							</a>
						</li>
						<li>
							<a href="tel:+17709194877">
								<i class="fa fa-phone"></i>
								+1 (770) 919 4877
							</a>
						</li>
						<li>
							<a href="mailto:info@billharloff.com">
								<i class="fa fa-envelope"></i>
								info@billharloff.com
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-6 col-sm-4">
					<ul class="right-list">
						<li>
							<a href="">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="https://www.linkedin.com/in/bill-harloff-7a77b469/">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-google"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</header>

	<nav class="navbar navbar-default">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="index.html"><img src="{% static 'images/logo.png' %}" alt="BillHarlOff" class="img-responsive"></a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      	<ul class="nav navbar-nav">

				<li><a href="{% url 'about' %}">ABOUT</a></li>
                <li><a href="{% url 'coaching' %}">COACHING</a></li>
                <li><a href="{% url 'courses' %}">COURSES</a></li>
                <li><a href="{% url 'events' %}">EVENTS</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
		    </ul>
		    <ul class="nav navbar-nav pull-right nav2">
		    	<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<span class="fa fa-bars"></span>
						<span class="visibility-hidden">Less <i class="fa fa-times"></i></span>
					</a>
					<ul class="dropdown-menu pull-left">
                      <li><a href="{% url 'testimonials' %}">TESTIMONIALS</a></li>
					  <li><a href="{% url 'comming-soon' %}">SUCCESS STORIES</a></li>
					  <li><a href="{% url 'comming-soon' %}">SELF ASSESSMENTS</a></li>
					  <li><a href="{% url 'comming-soon' %}">GROWTH SOLUTIONS</a></li>
					  <li><a href="{% url 'comming-soon' %}">MEDIA LIBRARY</a></li>
					  <li class="seprator"><a href="#"></a></li>
					  <li><a href="{% url 'comming-soon' %}">BREAKTHROUGH MOBILE</a></li>
					  <li><a href="{% url 'comming-soon' %}">GET INVOLVED</a></li>
					  <li><a href="{% url 'comming-soon' %}">WE’RE HIRING</a></li>
					  <li><a href="{% url 'comming-soon' %}">TERMS OF SERVICE</a></li>
					  <li><a href="{% url 'comming-soon' %}">PRIVACY POLICY</a></li>
					</ul>
				</li>
		    </ul>
	    </div>
	  </div>
	</nav>
	<div class="clearfix"></div>


	<div class="wrapper">
        <div class="container">
            <div class="left-section"><img src="{% static 'images/watch.png' %}"></div>
            <div class="right-section">
                <h1 id="logo">Bill HarlOff</h1>
                <div class="seprator"></div>
                <div class="main-content">
                    <h2>Our Website is coming soon</h2>
                    <p>In the mean time connect with us with the information provided</p>
                </div>

                <ul class="info">
                    <li><i class="fa fa-phone-square"></i>+1 (770) 919 4877</li>
                    <li><i class="fa fa-map-marker"></i>1280 West Peachtree Street NW, Unit 908 Atlanta, GA 30309</li>
                    <li><i class="fa fa-envelope"></i><a href="#">info@billharloff.com</a></li>
                </ul>


            </div>
            <div class="watch-section"><img src="{% static 'images/watch.png' %}" /></div>
        </div>
    </div>


	<footer class="footer">
		<div class="container">
			<div class="col-md-5 col-sm-6">
                <div class="follow-us" style="font-size: 29px;padding-left: 0%;"><a href="https://mailchi.mp/9acf17dcf3b8/top5financingyourflipstrategies">DOWNLOAD BILL’S TOP 5 FINANCING STRATEGIES!</a> </div>
			</div>
			<div class="col-md-7 col-sm-6">
				<p class="copy-rights">©2018 • PRIVACY POLICY</p>
			</div>
			<div class="company-info">BILL HARLOFF, Instructor & Coach</div>
		</div>
	</footer>
	
	<script src="{% static 'js/moment.min.js' %}"></script>
	<script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/fullcalendar.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script>
// Set the date we're counting down to
var countDownDate = new Date("March 22, 2018 14:00:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();

    // Find the distance between now an the count down date
    var distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    document.getElementById('days').innerHTML = days;
    document.getElementById('hours').innerHTML = hours;
    document.getElementById('minutes').innerHTML = minutes;
    document.getElementById('seconds').innerHTML = seconds;

    // If the count down is over, write some text
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
    }
}, 1000);
</script>
    <script type="text/javascript">
    	$(document).ready(function(){
			 $(".dropdown-toggle").click(function(){
			 	$(".visibility-hidden").toggle();
			 	$(".fa-bars").toggle();
			 });  				 
  		});
    </script>

    <script>

  $(document).ready(function() {

    $('#calendar').fullCalendar({
      defaultDate: '2018-03-12',
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: [
        {
          title: 'All Day Event',
          start: '2018-03-01'
        },
        
        {
          id: 999,
          title: 'Repeating Event',
          start: '2018-03-09T16:00:00'
        },
        
        {
          title: 'Birthday Party',
          start: '2018-03-13T07:00:00'
        }
      ]
    });

  });
</script>
    
</body>
</html>