{% extends 'base.html' %}

{% load static %}


{% block content %}

	<section class="contact_us_banner">
		<div class="container">
			<h1 class="section_head text-center">Contact Us</h1>
			<p class="section_head_inner_xs new_text text-center">
                Thank you for visiting the official home of Bill Harloff, Real Estate Investment Instructor & Coach.
                If you are ready to get started with your Real Estate Investing career, attend a live event, or just
                learn more, please use the contact form.</p>
		</div>
	</section>


	<section class="contact_us">
		<div class="container">
			<div class="row">
				<div class="col-md-7 nopaddingleft paddingTop40">
					<div class="col-md-12"><div class="div_head">Need a help</div></div>
					<form class="form" method="post" action="{% url 'contact' %}">
                        {% csrf_token %}
						<div class="col-md-6 form-group">
							<input type="text" placeholder="Your Name" class="form-control" name="name">
						</div>
						<div class="col-md-6 form-group">
							<input type="email" placeholder="Your Email" class="form-control" name="email">
						</div>
						<div class="col-md-12 form-group">
							<textarea rows="6" placeholder="Comment or Message" class="form-control" name="message"></textarea>
						</div>
						<div class="col-md-12 form-group text-right">
							<!--<a href="{% url 'thankyou' %}"><button class="btn btn-info">Send</button></a>-->
							<button class="btn btn-info">Send</button>
						</div>
					</form>
				</div>
				<div class="col-md-5 bg-info paddingTop40">
					<div class="col-md-12"><div class="div_head text-white">Find Us</div></div>
					<ul class="address_info text-white">
						<li>
							<div class="left"><i class="fa fa-map-marker"></i></div>
							<div class="right">
								<strong>Our Office</strong>
								<p>1280 West Peachtree Street NW, Unit 908
                                    Atlanta, GA 30309</p>
							</div>

						</li>
						<li>
							<div class="left"><i class="fa fa-envelope"></i></div>
							<div class="right">
								<strong>Email Address</strong>
								<p>info@billharloff.com</p>
								<p>help@billharloff.com</p>
							</div>
						</li>
						<li>
							<div class="left"><i class="fa fa-phone"></i></div>
							<div class="right">
								<strong>Phone</strong>
								<p>+1 (770) 919.4877</p>
							</div>

						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
{% endblock %}