{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="BillHarlOff">
	<meta name="author" content="Taqi Raza Khan">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BillHarlOff</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/fullcalendar.min.css' %}" rel="stylesheet" />
	<link href="{% static 'css/second_style.css' %}" rel="stylesheet">
</head>

<body>
	<!-- Navbar Default -->
	<header>
		<div class="container topheader">
			<div class="row">
				<div class="col-md-6 col-sm-8">
					<ul class="left-list">
						<li>
							<a href="">
								<i class="fa fa-clock-o"></i>
								24/7 Availible
							</a>
						</li>
						<li>
							<a href="tel:+000098374888">
								<i class="fa fa-phone"></i>
								+000098374-888
							</a>
						</li>
						<li>
							<a href="mailto:info@billharloff.com">
								<i class="fa fa-envelope"></i>
								info@billharloff.com
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-6 col-sm-4">
					<ul class="right-list">
						<li>
							<a href="signup.html">
								Sign Up
							</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-google"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</header>

	<nav class="navbar navbar-default">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <a class="navbar-brand" href="index.html"><img src="{% static 'images/logo.png' %}" alt="BillHarlOff" class="img-responsive"></a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      	<ul class="nav navbar-nav">

				<li><a href="about.html">ABOUT</a></li>
				<li><a href="coaching.html">COACHING</a></li>
				<li class="active"><a href="courses.html">COURSES</a></li>
				<li><a href="events.html">EVENTS</a></li>
				<li><a href="contact.html">contact</a></li>
				<li class="active"><a href="signup.html" class="hidden-lg hidden-md">Sign Up</a></li>
		    </ul>
		    <ul class="nav navbar-nav pull-right nav2">
		    	<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<span class="fa fa-bars"></span>
						<span class="visibility-hidden">Less <i class="fa fa-times"></i></span>
					</a>
					<ul class="dropdown-menu pull-left nav2">
					  <li><a href="#">SUCCESS STORIES</a></li>
					  <li><a href="#">SELF ASSESSMENTS</a></li>
					  <li><a href="#">GROWTH SOLUTIONS</a></li>
					  <li><a href="#">MEDIA LIBRARY</a></li>
					  <li class="seprator"><a href="#"></a></li>
					  <li><a href="#">BREAKTHROUGH MOBILE</a></li>
					  <li><a href="#">GET INVOLVED</a></li>
					  <li><a href="#">WE’RE HIRING</a></li>
					  <li><a href="#">TERMS OF SERVICE</a></li>
					  <li><a href="#">PRIVACY POLICY</a></li>
					</ul>
				</li>
		    </ul>
	    </div>
	  </div>
	</nav>
	<div class="clearfix"></div>


	<section class="course_funnel_banner text-white">
		<div class="container">
			<div class="col-md-12">
				<div class="funnel_head">GET THE COURSE: </div>
				<h3 class="text-center">Get lifetime access to this course and all related materials!</h3>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-12 form_area">
				<div class="col-md-5">
					<img src="{% static 'images/landing_page_builder.png' %}" class="img-responsive">
				</div>
				<div class="col-md-7">
					<form class="form_builder">
						<div class="col-md-12 form-group">
							<lable>Email</lable>
							<input type="email" class="form-control" placeholder="Email">
						</div>
						<div class="col-md-12 form-group">
							<lable>Credit Card</lable>
							<input type="text" class="form-control c-card" placeholder="">
						</div>
						<div class="col-md-12 form-group">
							<div class="col-md-4 nopaddingleft">
								<label>Exp. Date</label>
								<input type="text" class="form-control" placeholder="">
							</div>
							<div class="col-md-4 nopaddingleft">
								<label>CVC</label>
								<input type="text" class="form-control" placeholder="">
							</div>
							<div class="col-md-4 nopaddingright">
								<label>Zip Code</label>
								<input type="text" class="form-control" placeholder="">
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="col-md-12 form-group">
							<div class="border-gray"></div>
							<div class="order-sum">Order Summary</div>

							<div class="col-md-6 nopadding form-group">nameBBB <br> attr444</div>
							<div class="col-md-6 nopadding form-group text-right">
								<strong>$4.00</strong>
							</div>
							<div class="clearfix"></div>

							<button class="btn btn-success btn-block" style="font-size: 18px">
								<strong>Pay $4.00</strong>
							</button>
						</div>

					</form>
				</div>
			</div>
			<div class="clearfix"></div>

			<div class="col-md-12 what_you_get">
				<div class="col-md-6">
					<div class="funnel_head text-right">What You Get:</div>	
				</div>
				<div class="col-md-6">
					<ul class="funnel_list">
						<li> "Coming Soon"</li>
						<li> "Coming Soon"</li>
						<li> "Coming Soon"</li>
						<li> "Coming Soon"</li>
						<li> "Coming Soon"</li>
					</ul>
				</div>
			</div>

			<div class="col-md-12 join_us">
				<div class="col-md-4">
					<img src="{% static 'images/bill_course_funnel.jpg' %}" class="img-responsive">
				</div>
				<div class="col-md-8">
					<div class="funnel_heading_sub">
						I can't wait for you to join us on this journey.
					</div>
					<p>I guarantee this course is going to expand your sense of what's possible in your online marketing career. From basic principles to practical time-management tips, I'm going to give you all the tools you need to succeed. Plus, the course format makes learning fun!</p>
				</div>
			</div>
		</div>
	</section>
	<div class="clearfix"></div>


	
	<div class="clearfix"></div>


	<footer class="footer">
		<div class="container">
			<div class="col-md-5">
				<div class="follow-us">FOLLOW US <br> ON FACEBOOK</div>
			</div>
			<div class="col-md-7">
				<p class="copy-rights">©2018 • PRIVACY POLICY</p>
			</div>
			<div class="company-info">BILL HARLOFF, MOTIVATOR & MENTOR</div>
		</div>
	</footer>
	
	<script src="{% static 'js/moment.min.js' %}"></script>
	<script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/fullcalendar.min.js' %}"></script>
    <script type="text/javascript">
    	$(document).ready(function(){
			 $(".dropdown-toggle").click(function(){
			 	$(".visibility-hidden").toggle();
			 	$(".fa-bars").toggle();
			 });  				 
  		});
    </script>

    <script>

  $(document).ready(function() {

    $('#calendar').fullCalendar({
      defaultDate: '2018-03-12',
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: [
        {
          title: 'All Day Event',
          start: '2018-03-01'
        },
        
        {
          id: 999,
          title: 'Repeating Event',
          start: '2018-03-09T16:00:00'
        },
        
        {
          title: 'Birthday Party',
          start: '2018-03-13T07:00:00'
        },
        {
          title: 'Click for Web',
          url: 'http://www.taqirazakhan.com/',
          start: '2018-03-28'
        }
      ]
    });

  });

</script>
    
</body>
</html>