{% extends 'base.html' %}

{% load static %}

{% block navbar %}

    <li><a href="{% url 'about' %}">ABOUT</a></li>
    <li><a href="{% url 'coaching' %}">COACHING</a></li>
    <li class="active"><a href="{% url 'courses' %}">COURSES</a></li>
    <li><a href="{% url 'events' %}">EVENTS</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
    <li class="nav-login"><a href="{% url 'login' %}">Login/Signup</a></li>
    
{% endblock %}

{% block content %}

	<section class="courses_banner">
		<div class="container">
			<h1 class="section_head text-center">Courses</h1>
		</div>
	</section>

	<section class="courses">
		<div class="container">
			<div class="col-md-12 form-group">
				<div class="section_head_inner font_play">Home Study Courses</div>
			</div>
			<div class="col-md-12">
				<p>You no longer have to struggle all alone without knowing where to start and without a real plan for
                    success. B.H. Coaching’s Home Study Courses provide the tools and instruction to get started and
                    succeed in your Real Estate Investing career! Now is the perfect time to end the vicious cycle of
                    reinventing the wheel, and propel your investing career using the field-tested and proven strategies
                    which Bill has complied over his 38-year illustrious career. </p>
			</div>

			<div class="row">
				<div class="col-md-12 course_list" id="course_list">
					<div class="col-md-4 col-sm-6 form-group">
						<a href="{% url 'comming-soon' %}">
                            <div class="courses_list">
                                <div class="col-md-12 form-group block_minheight">
                                    <p class="course_type active"> <i class="fa fa-bookmark"></i> Real Estate</p>
                                    <h2 class="font_play">Complete Short Sale Process</h2>

                                </div>
                                <div class="col-md-12">
                                    <img class="img-responsive" src="{% static 'images/images.jpeg' %}" alt="">
                                </div>
                                <div class="col-md-12 text_course">

                                  <p class="auther_area"><img src="{% static 'images/auther_image.png' %}" class="img-round img-responsive"><strong class="active">Bill Harloff  <span class="pull-right text-black">$197</span></strong></p>

                                </div>
                            </div>
                        </a>
					</div>
					<div class="col-md-4 col-sm-6 form-group">
                        <a href="{% url 'comming-soon' %}">
						<div class="courses_list">
					        <div class="col-md-12 form-group block_minheight">
					        	<p class="course_type active"> <i class="fa fa-bookmark"></i> Real Estate</p>
						        <h2 class="font_play">Wholesaling Houses</h2>

					        </div>
					        <div class="col-md-12 nopadding">
					            <img class="img-responsive" src="{% static 'images/courses_2.jpg' %}" alt="">
					        </div>
					        <div class="col-md-12 text_course">

					          <p class="auther_area"><img src="{% static 'images/auther_image.png' %}" class="img-round img-responsive"><strong class="active">Bill Harloff  <span class="pull-right text-black">$197</span></strong></p>

					        </div>
					      </div>
                        </a>
					</div>
					<div class="col-md-4 col-sm-6 form-group">
                        <a href="{% url 'comming-soon' %}">
						<div class="courses_list">
					        <div class="col-md-12 form-group block_minheight">
					        	<p class="course_type active"> <i class="fa fa-bookmark"></i> Real Estate</p>
						        <h2 class="font_play">Subject to Existing Financing</h2>

					        </div>
					        <div class="col-md-12 nopadding">
					            <img class="img-responsive" src="{% static 'images/courses_3.jpg' %}" alt="">
					        </div>
					        <div class="col-md-12 text_course">

					          <p class="auther_area"><img src="{% static 'images/auther_image.png' %}" class="img-round img-responsive"><strong class="active">Bill Harloff  <span class="pull-right text-black">$197</span></strong></p>


					        </div>
					    </div>
                        </a>
					</div>
					<div class="col-md-4 col-sm-6 form-group">
                        <a href="{% url 'comming-soon' %}">
						<div class="courses_list">
					        <div class="col-md-12 form-group block_minheight">
					        	<p class="course_type active"> <i class="fa fa-bookmark"></i> Real Estate</p>
						        <h2 class="font_play">Fix & Flips / Rehabbing Houses</h2>

					        </div>
					        <div class="col-md-12">
					            <img class="img-responsive" src="{% static 'images/fix.jpg' %}" alt="">
					        </div>
					        <div class="col-md-12 text_course">

					          <p class="auther_area"><img src="{% static 'images/auther_image.png' %}" class="img-round img-responsive"><strong class="active">Bill Harloff  <span class="pull-right text-black">Coming Soon</span></strong></p>

					        </div>
					      </div>
                        </a>
					</div>
					<div class="col-md-4 col-sm-6 form-group">
                        <a href="{% url 'comming-soon' %}">
						<div class="courses_list">
					        <div class="col-md-12 form-group block_minheight">
					        	<p class="course_type active"> <i class="fa fa-bookmark"></i> Real Estate</p>
						        <h2 class="font_play">Rental Properties / Buy & Holde</h2>

					        </div>
					        <div class="col-md-12 nopadding">
					            <img class="img-responsive" src="{% static 'images/courses_5.jpg' %}" alt="">
					        </div>
					        <div class="col-md-12 text_course">

					          <p class="auther_area"><img src="{% static 'images/auther_image.png' %}" class="img-round img-responsive"><strong class="active">Bill Harloff  <span class="pull-right text-black">Coming Soon</span></strong></p>

					        </div>
					      </div>
                        </a>
					</div>

					<div class="col-md-4 col-sm-6 form-group">
                        <a href="{% url 'comming-soon' %}">
						<div class="courses_list">
					        <div class="col-md-12 form-group block_minheight">
					        	<p class="course_type active"> <i class="fa fa-bookmark"></i> Real Estate</p>
						        <h2 class="font_play">Multifamily Rental Properties</h2>

					        </div>
					        <div class="col-md-12">
					            <img class="img-responsive" src="{% static 'images/fix.jpg' %}" alt="">
					        </div>
					        <div class="col-md-12 text_course">

					          <p class="auther_area"><img src="{% static 'images/auther_image.png' %}" class="img-round img-responsive"><strong class="active">Bill Harloff  <span class="pull-right text-black">Coming Soon</span></strong></p>
					        </div>
					      </div>
                        </a>
					</div>
					<!--additional cources -->
					<div class="view_more_cources fade_out disp_none">
						
						<div class="col-md-4 col-sm-6 form-group">
	                        <a href="{% url 'comming-soon' %}">
							<div class="courses_list">
						        <div class="col-md-12 form-group block_minheight">
						        	<p class="course_type active"> <i class="fa fa-bookmark"></i> Real Estate</p>
							        <h2 class="font_play">How to Fix your Credit and Secure Financing</h2>

						        </div>
						        <div class="col-md-12 nopadding">
						            <img class="img-responsive" src="{% static 'images/fixyourcreadit.jpg' %}" alt="">
						        </div>
						        <div class="col-md-12 text_course">

						          <p class="auther_area"><img src="{% static 'images/auther_image.png' %}" class="img-round img-responsive"><strong class="active">Bill Harloff  <span class="pull-right text-black">Comming Soon</span></strong></p>

						        </div>
						      </div>
	                        </a>
						</div>
						<div class="col-md-4 col-sm-6 form-group">
	                        <a href="{% url 'comming-soon' %}">
							<div class="courses_list">
						        <div class="col-md-12 form-group block_minheight">
						        	<p class="course_type active"> <i class="fa fa-bookmark"></i> Real Estate</p>
							        <h2 class="font_play">Real Estate Negotiation</h2>

						        </div>
						        <div class="col-md-12 nopadding">
						            <img class="img-responsive" src="{% static 'images/realestatenegotiation.jpg' %}" alt="">
						        </div>
						        <div class="col-md-12 text_course">

						          <p class="auther_area"><img src="{% static 'images/auther_image.png' %}" class="img-round img-responsive"><strong class="active">Bill Harloff  <span class="pull-right text-black">Comming Soon</span></strong></p>

						        </div>
						      </div>
	                        </a>
						</div>
						<div class="col-md-4 col-sm-6 form-group">
	                        <a href="{% url 'comming-soon' %}">
							<div class="courses_list">
						        <div class="col-md-12 form-group block_minheight">
						        	<p class="course_type active"> <i class="fa fa-bookmark"></i> Real Estate</p>
							        <h2 class="font_play">Extreme Leadership: How to Build your Real Estate Investment Business</h2>

						        </div>
						        <div class="col-md-12 nopadding">
						            <img class="img-responsive" src="{% static 'images/buildrealestate.jpg' %}" alt="">
						        </div>
						        <div class="col-md-12 text_course">

						          <p class="auther_area"><img src="{% static 'images/auther_image.png' %}" class="img-round img-responsive"><strong class="active">Bill Harloff  <span class="pull-right text-black">Comming Soon</span></strong></p>

						        </div>
						      </div>
	                        </a>
						</div>
					</div>
					<!--additional cources ends-->


				</div>

			</div>
			<div class="clearfix"></div>

			<div class="more_pages text-center">
				<!-- <ul class="pagination pagination-lg">
				  <li><a href="#">Prev</a></li>
				  <li><a href="#">1</a></li>
				  <li><a href="#">2</a></li>
				  <li><a href="#">3</a></li>
				  <li><a href="#">4</a></li>
				  <li><a href="#">5</a></li>
				  <li><a href="#">6</a></li>
				  <li><a href="#">7</a></li>
				  <li><a href="#">8</a></li>
				  <li><a href="#">9</a></li>
				  <li class="active bg-info"><a href="#">Next</a></li>
				</ul>  -->
				<button class="btn btn-info view_more">View More</button>
			</div>
        </div>
	</section>

	<div class="footer-top">
		<div class="text-footer">
			WE STRIVE TO HELP YOU SUCCEED!
		</div>
	</div>
{% endblock %}

{% block script %}
    <script>
    $(document).ready(function () {
       $('#view_more').click(function () {
           var response_data = '';
           for(var i=0;i<2;i++){
               response_data += '<div class="col-md-4 form-group">' +
                   '<div class="courses_list">' +
                   '<div class="col-md-12 form-group">' +
                   '<p class="course_type active"> <i class="fa fa-bookmark"></i> Real Estate</p>' +
                   '<h2 class="font_play">Multifamily Rental Properties</h2>' +
                   '</div>' +
                   '<div class="col-md-12">' +
                   '<a href="#">' +
                   '<img class="img-responsive" src="/static/images/courses_5.jpg" alt="">' +
                   '</a></div>' +
                   '<div class="col-md-12 text_course">' +
                   '<p class="auther_area"><img src="/static/images/auther_image.png" class="img-round img-responsive">' +
                   '<strong class="active">Bill Harloff</strong></p>' +
                   '<p>Coming Soon</p></div>' +
                   '</div></div>'
           }
           document.getElementById('course_list').innerHTML += response_data;
           $("#view_more").hide();

       });
       $('.view_more').on('click',function(){
       	if($('.view_more_cources').hasClass('fade_in')){
       		$('.view_more_cources').removeClass('fade_in');
       		$('.view_more_cources').addClass('fade_out');
       		$('.view_more_cources').slideUp();
       	}else if($('.view_more_cources').hasClass('fade_out')){
       		$('.view_more_cources').removeClass('fade_out');
       		$('.view_more_cources').addClass('fade_in');
       		$('.view_more_cources').slideDown();
       	}
       })
    });
    </script>
{% endblock %}