{% extends 'base.html' %}
{% load static %}


{% block navbar %}
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'about' %}">ABOUT</a></li>
    <li><a href="{% url 'coaching' %}">COACHING</a></li>
    <li><a href="{% url 'courses' %}">COURSES</a></li>
    <li class="active"><a href="{% url 'events' %}">EVENTS</a></li>
    <li><a href="{% url 'contact' %}">Contacts</a></li>
{% endblock %}

{% block content %}

	<section class="events_banner">
		<div class="container">
			<h1 class="section_head text-center">Events</h1>
		</div>
	</section>

	<section class="events">
		<div class="container">
			<div class="col-md-12 form-group">
				<div class="section_head_inner font_play">Upcoming Events</div>
			</div>
			<div class="col-md-12">
				<p>You don't have to struggle alone with no plan to success anymore. Bill Harloff Healthy Life Coaching is a one-on-one dynamic coaching program where you come full circle with your work topersonal lifestyle. Now is the perfect time to end the meaningless routines that do nothing for your long term success and are playing a detrimental role in your overall health</p>
			</div>

			<div class="col-md-12">
				<div class="calender">
					<div id='calendar'></div>
				</div>
			</div>
        </div>
	</section>
    <div align="center" style="padding: 20px; font-size: 15px;"><strong>NOTE:</strong> Schedule is subject to change. Please do not make travel arrangements until you have received a confirmation.</div>
	<div class="clearfix"></div>

{% endblock %}
