{% extends 'base.html' %}
{% load static %}

{% block navbar %}

    <li><a href="{% url 'about' %}">ABOUT</a></li>
    <li><a href="{% url 'coaching' %}">COACHING</a></li>
    <li><a href="{% url 'courses' %}">COURSES</a></li>
    <li><a href="{% url 'events' %}">EVENTS</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
{% endblock %}


{% block content %}


    <section class="main_banner">
		<div class="container" style="max-width: 857px;">
			<h1 data-toggle="modal" data-target="#myModal">B.H. Coaching</h1>
			<p>
				As your personal instructor & coach, Bill Harloff will use his 38 years of commercial and
                residential Real Estate development, investment, and teaching experience to deliver the tools you’ll
                need to succeed in your Real Estate Investing Career
			</p>

			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="https://drive.google.com/file/d/1HBlAP4lGtAWJzSWHy81St9N-GOgaiGPV/preview"></iframe>
			  </div>
		</div>
	</section>
	<section class="bottom_banner">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="signup">
						Sign Up for a Complimentary Real Estate Success Session Today!
						<button class="btn btn-info btn-schedule pull-right">Schedule your call!</button>
					</div>
				</div>
				<div class="col-md-3">
					<div class="right_side_bottom_header">
						<i class="fa fa-long-arrow-left fa-2x"></i>
						<i class="fa fa-long-arrow-right fa-2x"></i>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="clearfix"></div>

	<section class="investment_coaching">
		<div class="container">
			<div class="col-md-8">
				<div class="coaching-text">
					<div class="main_text">Free Personal Real Estate Investor Assessment</div>
					<p>Learn your ideal Real Estate Investing style with this free assessment. In under 5 minutes you
                        will learn which of the most successful investing strategies fits best with
                        your investing career goals.
                    </p>
					<p>
						<button class="btn btn-info download_btn">Start Now!</button>
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<img src="{% static 'images/investmnet_image.jpg' %}" class="img-responsive thumbnail">
			</div>
		</div>
	</section>
	<div class="clearfix"></div>

	<section class="team">
		<div class="container">
			<div class="col-md-12">
				<div class="team_area">
					<div class="col-md-4 text-center">
						<div class="thumbnail">
							<img src="{% static 'images/team-1.jpg' %}" class="img-responsive">
						</div>
						<div><a href="{% url 'about' %}" class="more_about active">About Bill</a></div>
						<div class="fa fa-long-arrow-right fa-2x"></div>
					</div>
					<div class="col-md-4 text-center">
						<div class="thumbnail">
							<img src="{% static 'images/team-2.jpg' %}" class="img-responsive">
						</div>
						<div><a href="{% url 'courses' %}" class="more_about active">A Real Estate Investment Learning</a></div>
						<div class="fa fa-long-arrow-right fa-2x"></div>
					</div>
					<div class="col-md-4 text-center">
						<div class="thumbnail">
							<img src="{% static 'images/team-3.jpg' %}" class="img-responsive">
						</div>
						<div><a href="{% url 'coaching' %}" class="more_about active">Real Estate Investment Coaching</a></div>
						<div class="fa fa-long-arrow-right fa-2x"></div>
					</div>
					<div class="clearfix"></div>
				</div>

			</div>
		</div>
	</section>
	<div class="clearfix"></div>


	<section class="crush">
		<div class="container">
			<div class="col-md-6">
				<img src="{% static 'images/crush.jpg' %}" class="img-responsive crush-img">
			</div>
			<div class="col-md-6">
				<div class="crush-heading">Crush Adversity <br> By Bill Harloff</div>
				<p>With decades of hard won life lessons, I dedicate this book to inspire you to break through the limits you've set for yourself, learn to be grateful for what you have and live an abundant lifestyle with passion and enthusiasm, while helping ordinary people achieve extraordinary things in life. I Believe in You.</p>
				<p>
					<button class="btn btn-crush-buy"> Buy Now </button>
					<img src="{% static 'images/payment_methods.png' %}" align="Payment Methods" class="crush_sub_imgs">
				</p>
			</div>
		</div>
	</section>

	<div class="clearfix"></div>

	<div class="testmonials">
		<div class="container">
			<div class="section-title">Testimonials</div>

			<div class='col-md-offset-2 col-md-8'>
		      	<div class="carousel slide" data-ride="carousel" id="quote-carousel">
			        <!-- Bottom Carousel Indicators -->



                    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
 <script>
    $(document).ready(function(){
    $("#testimonial-slider").owlCarousel({
        items:2,
        itemsDesktop:[1000,2],
        itemsDesktopSmall:[979,2],
        itemsTablet:[768,1],
        pagination:false,
        navigation:true,
        navigationText:["",""],
        autoPlay:true
    });
});
    


 </script>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
                    <!--  Carousel Slider -->




                    <!--  Carousel Slider -->


			        <!-- Carousel Slides / Quotes -->
			        <div class="carousel-inner">

			          	<!-- Quote 1 -->
			          	<div class="item active text-center">
			              <div class="row">
			                <div class="col-sm-12 text-center">
			                  <img class="img-circle" src="{% static 'images/img-user1.png' %}" style="width: 80px;height:80px;">
			                  <img class="img-circle" src="{% static 'images/img-user2.png' %}" style="width: 80px;height:80px;">
			                  <img class="img-circle" src="{% static 'images/img-user3.png' %}" style="width: 80px;height:80px;">
			                  <p class="test-info">Lori Ann Reber</p>
			                  <!--<img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" style="width: 100px;height:100px;">-->
			                </div>
			                <div class="col-sm-12">
			                  I really cannot believe you just helped me profit 5,000 on my 1st Assignment of Contract deal. Your coaching program was without a doubt the best investment I have ever made in myself. Never would have believed I could make this kind of money. Without you I would not of even known how to start. Thank U!			                </div>
			              </div>
			          	</div>

			          	<div class="item text-center">
			              <div class="row">
			                <div class="col-sm-12 text-center">
			                  <img class="img-circle" src="{% static 'images/img-user1.png' %}" style="width: 80px;height:80px;">
			                  <img class="img-circle" src="{% static 'images/img-user2.png' %}" style="width: 80px;height:80px;">
			                  <img class="img-circle" src="{% static 'images/img-user3.png' %}" style="width: 80px;height:80px;">
			                  <p class="test-info">Lori Ann Reber</p>
			                  <!--<img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" style="width: 100px;height:100px;">-->
			                </div>
			                <div class="col-sm-12">
			                  Simplified, yet powerful tools to overcome adversity in our personal lives, relationships and businesses. I personally feel that teenagers would be very inspired and prepared for the future world after high school if this was part of their curriculum. Thank you Bill! -- Lori Ann Reber, Entrepreneur
			                </div>
			              </div>
			          	</div>

			        </div>

			        <!-- Carousel Buttons Next/Prev -->
			        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-long-arrow-left"></i></a>
			        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-long-arrow-right"></i></a>
		      	</div>
		    </div>
		</div>
	</div>


	<div class ="azee"></div>

	<div class="carousel-inner">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="testimonial-slider" class="owl-carousel">
					<div class="testimonial">
						<div class="pic">
							<img src="images/img-1.jpg">
						</div>
						<div class="testimonial-profile">
							<h3 class="title">williamson</h3>
							<span class="post">Web Developer</span>
						</div>
						<p class="description">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam varius eros consequat auctor gravida. Fusce tristique lacus at urna sollicitudin pulvinar. Suspendisse hendrerit ultrices mauris.
						</p>
					</div>
					<div class="testimonial">
						<div class="pic">
							<img src="images/img-2.jpg">
						</div>
						<div class="testimonial-profile">
							<h3 class="title">Kristina</h3>
							<span class="post">Web Designer</span>
						</div>
						<p class="description">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam varius eros consequat auctor gravida. Fusce tristique lacus at urna sollicitudin pulvinar. Suspendisse hendrerit ultrices mauris.
						</p>
					</div>
					<div class="testimonial">
						<div class="pic">
							<img src="images/img-3.jpg">
						</div>
						<div class="testimonial-profile">
							<h3 class="title">Steve Thomas</h3>
							<span class="post">Web Developer</span>
						</div>
						<p class="description">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam varius eros consequat auctor gravida. Fusce tristique lacus at urna sollicitudin pulvinar. Suspendisse hendrerit ultrices mauris.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
	

{% endblock %}



