{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="BillHarlOff">
	<meta name="author" content="Taqi Raza Khan">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BillHarlOff</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
	<!-- Navbar Default -->
	<header>
		<div class="container topheader">
			<div class="row">
				<div class="col-md-6 col-sm-8">
					<ul class="left-list">
						<li>
							<a href="">
								<i class="fa fa-clock-o"></i>
								24/7 Availible
							</a>
						</li>
						<li>
							<a href="tel:+000098374888">
								<i class="fa fa-phone"></i>
								+000098374-888
							</a>
						</li>
						<li>
							<a href="mailto:info@billharloff.com">
								<i class="fa fa-envelope"></i>
								info@billharloff.com
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-6 col-sm-4">
					<ul class="right-list">
						<li>
							<a href="">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-google"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</header>

	<nav class="navbar navbar-default">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <a class="navbar-brand" href="index.html"><img src="{% static 'images/logo.png' %}" alt="BillHarlOff" class="img-responsive"></a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      	<ul class="nav navbar-nav">
	      		<li class="active"><a href="{% url 'index' %}">Home</a></li>
				<li><a href="{% url 'about' %}">ABOUT</a></li>
				<li><a href="{% url 'coaching' %}">COACHING</a></li>
				<li><a href="{% url 'courses' %}">COURSES</a></li>
				<li><a href="{% url 'events' %}">EVENTS</a></li>
				<li><a href="{% url 'contact' %}">Contacts</a></li>
		    </ul>
		    <ul class="nav navbar-nav pull-right nav2">
		    	<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<span class="fa fa-bars"></span>
						<span class="visibility-hidden">Less <i class="fa fa-times"></i></span>
					</a>
					<ul class="dropdown-menu pull-left">
					  <li><a href="#">SUCCESS STORIES</a></li>
					  <li><a href="#">SELF ASSESSMENTS</a></li>
					  <li><a href="#">GROWTH SOLUTIONS</a></li>
					  <li><a href="#">MEDIA LIBRARY</a></li>
					  <li class="seprator"><a href="#"></a></li>
					  <li><a href="#">BREAKTHROUGH MOBILE</a></li>
					  <li><a href="#">GET INVOLVED</a></li>
					  <li><a href="#">WE’RE HIRING</a></li>
					  <li><a href="#">TERMS OF SERVICE</a></li>
					  <li><a href="#">PRIVACY POLICY</a></li>
					</ul>
				</li>
		    </ul>
	    </div>
	  </div>
	</nav>
	<div class="clearfix"></div>


	<section class="main_banner">
		<div class="container">
			<h1 data-toggle="modal" data-target="#myModal">B.H. Coaching</h1>
			<p>
				As your personal instructor & coach, Bill Harloff will use his 38 years of commercial and
                residential Real Estate development, investment, and teaching experience to deliver the tools you’ll
                need to succeed in your Real Estate Investing Career
			</p>
			<iframe src="https://drive.google.com/file/d/1HBlAP4lGtAWJzSWHy81St9N-GOgaiGPV/preview" width="840" height="480"></iframe>
		</div>
	</section>
	<section class="bottom_banner">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="signup">
						Sign Up for a Complimentary Real Estate Success Session Today!
						<button class="btn btn-info btn-schedule pull-right">Schedule your call!</button>
					</div>
				</div>
				<div class="col-md-3">
					<div class="right_side_bottom_header">
						<i class="fa fa-long-arrow-left fa-2x"></i>
						<i class="fa fa-long-arrow-right fa-2x"></i>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="clearfix"></div>

	<section class="investment_coaching">
		<div class="container">
			<div class="col-md-8">
				<div class="coaching-text">
					<div class="main_text">Free Personal Real Estate Investor Assessment</div>
					<p>Learn your ideal Real Estate Investing style with this free assessment. In under 5 minutes you
                        will learn which of the most successful investing strategies fits best with
                        your investing career goals.
                    </p>
					<p>
						<button class="btn btn-info download_btn">Start Now!</button>
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<img src="{% static 'images/investmnet_image.jpg' %}" class="img-responsive thumbnail">
			</div>
		</div>
	</section>
	<div class="clearfix"></div>

	<section class="team">
		<div class="container">
			<div class="col-md-12">
				<div class="team_area">
					<div class="col-md-4 text-center">
						<div class="thumbnail">
							<img src="{% static 'images/team-1.jpg' %}" class="img-responsive">
						</div>
						<div><a href="{% url 'about' %}" class="more_about active">About Bill</a></div>
						<div class="fa fa-long-arrow-right fa-2x"></div>
					</div>
					<div class="col-md-4 text-center">
						<div class="thumbnail">
							<img src="{% static 'images/team-2.jpg' %}" class="img-responsive">
						</div>
						<div><a href="{% url 'courses' %}" class="more_about active">A Real Estate Investment Learning</a></div>
						<div class="fa fa-long-arrow-right fa-2x"></div>
					</div>
					<div class="col-md-4 text-center">
						<div class="thumbnail">
							<img src="{% static 'images/team-3.jpg' %}" class="img-responsive">
						</div>
						<div><a href="{% url 'coaching' %}" class="more_about active">Real Estate Investment Coaching</a></div>
						<div class="fa fa-long-arrow-right fa-2x"></div>
					</div>
					<div class="clearfix"></div>
				</div>

			</div>
		</div>
	</section>
	<div class="clearfix"></div>


	<section class="crush">
		<div class="container">
			<div class="col-md-6">
				<img src="{% static 'images/crush.jpg' %}" class="img-responsive crush-img">
			</div>
			<div class="col-md-6">
				<div class="crush-heading">Crush Adversity <br> By Bill Harloff</div>
				<p>With decades of hard won life lessons, I dedicate this book to inspire you to break through the limits you've set for yourself, learn to be grateful for what you have and live an abundant lifestyle with passion and enthusiasm, while helping ordinary people achieve extraordinary things in life. I Believe in You.</p>
				<p>
					<button class="btn btn-crush-buy"> Buy Now </button>
					<img src="{% static 'images/payment_methods.png' %}" align="Payment Methods" class="crush_sub_imgs">
				</p>
			</div>
		</div>
	</section>

	<div class="clearfix"></div>

	<div class="testmonials">
		<div class="container">
			<div class="section-title">Testimonials</div>

			<div class='col-md-offset-2 col-md-8'>
		      	<div class="carousel slide" data-ride="carousel" id="quote-carousel">
			        <!-- Bottom Carousel Indicators -->

			        
			        <!-- Carousel Slides / Quotes -->
			        <div class="carousel-inner">
			        
			          	<!-- Quote 1 -->
			          	<div class="item active text-center">
			              <div class="row">
			                <div class="col-sm-12 text-center">
			                  <img class="img-circle" src="{% static 'images/img-user1.png' %}" style="width: 80px;height:80px;">
			                  <img class="img-circle" src="{% static 'images/img-user2.png' %}" style="width: 80px;height:80px;">
			                  <img class="img-circle" src="{% static 'images/img-user3.png' %}" style="width: 80px;height:80px;">
			                  <p class="test-info">Lori Ann Reber</p>
			                  <!--<img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" style="width: 100px;height:100px;">-->
			                </div>
			                <div class="col-sm-12">
			                  Simplified, yet powerful tools to overcome adversity in our personal lives, relationships and businesses. I personally feel that teenagers would be very inspired and prepared for the future world after high school if this was part of their curriculum. Thank you Bill! -- Lori Ann Reber, Entrepreneur
			                </div>
			              </div>
			          	</div>

			          	<div class="item text-center">
			              <div class="row">
			                <div class="col-sm-12 text-center">
			                  <img class="img-circle" src="{% static 'images/img-user1.png' %}" style="width: 80px;height:80px;">
			                  <img class="img-circle" src="{% static 'images/img-user2.png' %}" style="width: 80px;height:80px;">
			                  <img class="img-circle" src="{% static 'images/img-user3.png' %}" style="width: 80px;height:80px;">
			                  <p class="test-info">Lori Ann Reber</p>
			                  <!--<img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" style="width: 100px;height:100px;">-->
			                </div>
			                <div class="col-sm-12">
			                  Simplified, yet powerful tools to overcome adversity in our personal lives, relationships and businesses. I personally feel that teenagers would be very inspired and prepared for the future world after high school if this was part of their curriculum. Thank you Bill! -- Lori Ann Reber, Entrepreneur
			                </div>
			              </div>
			          	</div>
			          
			        </div>
			        
			        <!-- Carousel Buttons Next/Prev -->
			        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-long-arrow-left"></i></a>
			        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-long-arrow-right"></i></a>
		      	</div>                          
		    </div>
		</div>
	</div>


	<div class="footer-top">
		<div class="text-footer">
			WE STRIVE <br> TO HELP YOU GROW!
		</div>
	</div>
	<div class="clearfix"></div>

	<footer class="footer">
		<div class="container">
			<div class="col-md-5">
				<div class="follow-us">FOLLOW US <br> ON FACEBOOK</div>
			</div>
			<div class="col-md-7">
				<p class="copy-rights">©2018 • PRIVACY POLICY</p>
			</div>
			<div class="company-info">BILL HARLOFF, MOTIVATOR & MENTOR</div>
		</div>
	</footer>
	<div id="myModal" class="modal fade" role="dialog">
	  	<div class="modal-dialog">

		    
		    <div class="modal-content">
		      
		      <div class="modal-body">
		      	 <button type="button" class="close" data-dismiss="modal">&times;</button>
		      	<div class="image_pop">
					<img src="images/popup_image.jpg" class="img-responsive">
				</div>
				<div class="text_area_pop">
					<div class="popup_head font_play active">Investing in real estate has never been easier</div>
					<p>Ready to get started?</p>
					<button class="btn btn-info">Get Access</button>
				</div>
				<div class="clearfix"></div>
		        
		    </div>

	  	</div>
	</div>


	<script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript">

    	$(document).ready(function(){
			 $(".dropdown-toggle").click(function(){
			 	$(".visibility-hidden").toggle();
			 	$(".fa-bars").toggle();
			 });  				 
  		});
		
    </script>
    
</body>
</html>