{% extends 'base.html' %}
{% load static %}

{% block navbar %}

    <li><a href="{% url 'about' %}">ABOUT</a></li>
    <li><a href="{% url 'coaching' %}">COACHING</a></li>
    <li><a href="{% url 'courses' %}">COURSES</a></li>
    <li><a href="{% url 'events' %}">EVENTS</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
    {% if request.session.logged_in != None %}
    	<li class="nav-login dropdown">
    		<!-- <a class="dropdown-toggle jax-link" data-toggle="dropdown" href="#"> -->
    			<!-- {{request.session.username}}<b class="caret"></b>  </a> -->
    		  	<!-- <ul style="left:0;position: absolute;" class="dropdown-menu "> -->
                    <!-- <li> -->
                    	<div class="dropdown">
 						<a>  <button class="dropbtn">Hello! {{request.session.name}}</button></a>
 						 <div class="dropdown-content">
 						 	<a class="logd_in" href="/profile">Profile</a>
 						    <a class="logd_in" href="{% url 'logout' %}">Logout</a>
 						 </div>
						</div>
                       
                    <!-- </li> -->
                <!-- </ul> -->
    	</li>
    {% else %}
    <li class="nav-login"><a href="{% url 'login' %}">Login/Signup</a></li>
    {% endif %}
{% endblock %}


{% block content %}


    <section class="main_banner">
		<div class="container" style="max-width: 857px;">
			<h1 data-toggle="modal" data-target="#myModal">B.H. Coaching</h1>
			<p>
				As your personal instructor & coach, Bill Harloff will use his 38 years of commercial and
                residential Real Estate development, investment, and teaching experience to deliver the tools you’ll
                need to succeed in your Real Estate Investing Career
			</p>

			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="https://drive.google.com/file/d/1HBexIKo5Db7JuHmnGZBzaagDCOaL64t4/preview"></iframe>
			  </div>
		</div>
	</section>
	<section class="bottom_banner">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-sm-9">
					<div class="signup">
                        Sign Up for a FREE PDF of <em>Bill's Top 5 Financing Your Flip Strategies</em>
                        <a href="https://mailchi.mp/9acf17dcf3b8/top5financingyourflipstrategies" ><button class="btn btn-info btn-schedule pull-right">GET IT NOW!</button></a>
					</div>
				</div>
				<div class="col-md-3 col-sm-3">
					<div class="right_side_bottom_header">
						<i class="fa fa-long-arrow-left fa-2x"></i>
						<i class="fa fa-long-arrow-right fa-2x"></i>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="clearfix"></div>

	<!-- <section class="investment_coaching">
		<div class="container">
			<div class="col-md-8 col-sm-7">
				<div class="coaching-text">
					<div class="main_text">Free Personal Real Estate Investor Assessment</div>
					<p class="font_play">Learn your ideal Real Estate Investing style with this free assessment. In under 5 minutes you will learn which of the most successful investing strategies fits best with your personal career goals.
                    </p>
					<p>
                        <a href="{% url 'contact' %}"><button class="btn btn-info download_btn">Start Now!</button></a>
					</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-5">
				<img src="{% static 'images/investmnet_image.jpg' %}" class="img-responsive thumbnail">
			</div>
		</div>
	</section> -->
	<div class="clearfix"></div>

	<section class="team">
		<div class="container">
			<div class="col-md-12">
				<div class="team_area">
					<div class="col-md-4 col-sm-4 text-center">
						<div class="thumbnail">
							<img src="{% static 'images/team-1.jpg' %}" class="img-responsive">
						</div>
						<div><a href="{% url 'about' %}" class="more_about active">About Bill</a></div>
						<div class="fa fa-long-arrow-right fa-2x"></div>
					</div>
					<div class="col-md-4 col-sm-4 text-center">
						<div class="thumbnail">
							<img src="{% static 'images/team-2.jpg' %}" class="img-responsive">
						</div>
						<div><a href="{% url 'courses' %}" class="more_about active">A Real Estate Investment Learning</a></div>
						<div class="fa fa-long-arrow-right fa-2x"></div>
					</div>
					<div class="col-md-4 col-sm-4 text-center">
						<div class="thumbnail">
							<img src="{% static 'images/team-3.jpg' %}" class="img-responsive">
						</div>
						<div><a href="{% url 'coaching' %}" class="more_about active">Real Estate Investment Coaching</a></div>
						<div class="fa fa-long-arrow-right fa-2x"></div>
					</div>
					<div class="clearfix"></div>
				</div>

			</div>
		</div>
	</section>
	<div class="clearfix"></div>


	<section class="crush">
		<div class="container">
			<div class="col-md-6 col-sm-6">
				<img src="{% static 'images/crush.jpg' %}" class="img-responsive crush-img">
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="crush-heading">Crush Adversity <br> By Bill Harloff</div>
				<p>With decades of hard won life lessons, I dedicate this book to inspire you to break through the limits you've set for yourself, learn to be grateful for what you have and live an abundant lifestyle with passion and enthusiasm, while helping ordinary people achieve extraordinary things in life. I Believe in You.</p>
				<p>
                    <a href="https://www.amazon.com/Crush-Adversity-Bill-Harloff/dp/0692754903" target="_blank"><button class="btn btn-crush-buy"> Buy Now </button></a>
					<img src="{% static 'images/payment_methods.png' %}" align="Payment Methods" class="crush_sub_imgs">
				</p>
			</div>
		</div>
	</section>

	<div class="clearfix"></div>

	<div class="testmonials">
        <div class="container">
            <div class="section-title">Testimonials</div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div id="testimonial-slider" class="owl-carousel">
                    	  <div class="testimonial">
                            <div class="pic">
                                <img class="img-circle" src="{% static 'images/ni_image.gif' %}" style="width: 80px;height:80px;">
                            </div>
                            <p class="description">
                               Bill’s course was an eye opener! If you want to make money in this business, you have to be honest and help people succeed. Bill’s courses under promise, and over deliver!

                            </p>
                            <h3 class="title">Hamo Sarokhani
                                <span class="post"> </span>
                            </h3>
                        </div>
                        <div class="testimonial">
                            <div class="pic">
                                <img class="img-circle" src="{% static 'images/img-user1.png' %}" style="width: 80px;height:80px;">
                            </div>
                            <p class="description">
                                I really cannot believe you just helped me profit 5,000 on my 1st Assignment of Contract deal. Your coaching program was without a doubt the best investment I have ever made in myself. Never would have believed I could make this kind of money. Without you I would not of even known how to start. Thank U!
                            </p>
                            <h3 class="title">Matt
                                <span class="post"> - Web Developer</span>
                            </h3>
                        </div>

                         <div class="testimonial">
                            <div class="pic">
                                <img class="img-circle" src="{% static 'images/ChuckCraven.jpg' %}" style="width: 80px;height:80px;">
                            </div>
                            <p class="description">
                               BH Coaching,
								Thank you so much for helping me have a lot of success in real estate over a number of years. I attended several of your boot camps and learned so much. You were at the top of your game in the early 2000’s specializing in short sales and teaching others how to be successful too. Your knowledge of real estate is both incredible and valuable. Although the big recession hit in 2008/2009 and affected everyone tremendously, I was still able to find deals and flip houses employing the methods I learned through your boot camps.
								Your teaching and coaching has been tremendous and helped me profit on every deal I have ever done. I would definitely recommend your coaching to anyone who wishes to succeed in the real estate industry.
								Thanks again and much success to you in the future.

                            </p>
                            <h3 class="title">Chuck Craven
                                <span class="post"> </span>
                            </h3>
                        </div>

                        <div class="testimonial">
                            <div class="pic">
                                <img class="img-circle" src="{% static 'images/img-user2.png' %}" style="width: 80px;height:80px;">
                            </div>
                            <p class="description">
                                Simplified, yet powerful tools to overcome adversity in our personal lives, relationships and businesses. I personally feel that teenagers would be very inspired and prepared for the future world after high school if this was part of their curriculum. Thank you Bill!
                            </p>
                            <h3 class="title">Lori Ann Reber
                                <span class="post"> - Entrepreneur</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

	</div>

{% endblock %}



