{% extends 'base.html' %}




{% load static %}


{% block content %}

<br>
	<div class='container-fluid'>
		
		<div class='row'>
			<div class='col-md-3 '>
				<h1>Welcome! {{request.session.name}} </h1>
			</div>
			<br>
			<div class='col-md-9 '>

					{% if message %}
					<script>
			        	setTimeout(function(){
			        		$('.alert-success').slideUp();
			        	},2000);	
			    	</script>

  					<div class="alert alert-success alert-dismissible text-center">
   					 <strong >{{message}}</strong> 
   					</div>
					{% endif %}
			</div>
		</div>	
		<hr>
		<div class='row'>
			<div class='col-md-3' id='profilesidebar'>
	<div class="tab">
  <button class="tablinks proflink" onclick="openCity(event, 'profile')" id="defaultOpen">Profile</button>
  <button class="tablinks passlink" onclick="openCity(event, 'password')">Change Password</button>
  <button class="tablinks" onclick="openCity(event, 'subs')">My Subscription</button>
</div>

				<br>
				
			</div>
			<div class='col-md-9'>
				<div id="profile" class="tabcontent">
  <div class="container">

  <!-- <span style="color: red;">{{ message }}</span> -->
  <div class="text-center">
      
  </div>
  <form class="form-horizontal" action="{% url 'update_name' %}" method='POST'>
  	{% csrf_token %}
    
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Name:</label>
      <div class="col-sm-10">
        <input type="text" style='width:60%' pattern="[a-zA-Z][a-zA-Z ]+" title='Please avoid numbers in your name' class="form-control" id="name" placeholder="{{request.session.name}}" required name="name">
        

      </div>
    </div>
   	<div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="email" style='width:60%' disabled class="form-control" id="email" placeholder="{{request.session.username}}"" name="email">


      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" style='background-color: #43bdfe'>Update</button>
      </div>
    </div>
  </form>
</div>
</div>

<div id="password" class="tabcontent">

   <div class="container">
  <form class="form-horizontal" action="/update_pass" method='POST'>
  	{% csrf_token %}
    <div class="form-group">
    	<label class="control-label col-sm-2" ></label>
      <div class="col-sm-10">
        <input type="password" style='width:60%'  class="form-control" id="oldpass" placeholder="Previous Password" name="oldpass">


      </div>
    </div>
    <div class="form-group">
    	<label class="control-label col-sm-2" ></label>
      <div class="col-sm-10">
          <input type="password" style='width:60%' pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" class="form-control" id="newpass" placeholder="New Password" name="newpass">
        

      </div>
    </div>
   
    
    <div class="form-group">
    	<label class="control-label col-sm-2" ></label>
      <div class="col-sm-10">
          <input type="password" style='width:60%'  class="form-control" id="conpass" placeholder="Confirm Password" name="conpass">
        



      </div>
    </div>

    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Change Password</button>
        <br><br>
      </div>
    </div>

  </form>
</div> 
</div>

<div id="subs" class="tabcontent">
  <h3>My Subscriptions</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

			</div> 
		</div>
	</div>

    
<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
    
<script>
var password = document.getElementById("newpass")
  , confirm_password = document.getElementById("conpass");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>

{% endblock %}