{% extends 'base.html' %}

{% load static %}


{% block content %}
    <section class="testmonials_banner">
        <div class="container relative">
            <div class="testmonial_main_text">

                <img style="margin : auto ; max-width : 30%;" class="img-responsive" src="{% static 'images/auther_2.png' %}" alt="">

                <blockquote style="margin : auto ;">After attending Bill’s intensive 1-day live bootcamp on getting started with wholesaling
                    properties, I not only have the confidence to start my investing career, but I feel I feel well
                    equipped with all the tools to face every challenge as they come. It truly was the best investment
                    I’ve ever made!” - Victoria V<br>
                </blockquote>
            </div>
        <!--    <img src="{% static 'images/auther_2.png' %}" class="test_ban"> -->
        </div>
    </section>

    <div class="testmonials">
        <div class="container">
            <div class="section-title">Our Valued Customers</div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div id="testimonial-slider" class="owl-carousel">
                        <div class="testimonial">
                            <div class="pic">
                                <img class="img-circle" src="{% static 'images/img-user1.png' %}" style="width: 80px;height:80px;">
                            </div>
                            <p class="description">
                                I really cannot believe you just helped me profit 5,000 on my 1st Assignment of Contract deal. Your coaching program was without a doubt the best investment I have ever made in myself. Never would have believed I could make this kind of money. Without you I would not of even known how to start. Thank U!
                            </p>
                            <h3 class="title">Bill Harloff
                                <span class="post"> - Web Developer</span>
                            </h3>
                        </div>

                        <div class="testimonial">
                            <div class="pic">
                                <img class="img-circle" src="{% static 'images/img-user3.png' %}" style="width: 80px;height:80px;">
                            </div>
                            <p class="description">
                                Simplified, yet powerful tools to overcome adversity in our personal lives, relationships and businesses. I personally feel that teenagers would be very inspired and prepared for the future world after high school if this was part of their curriculum. Thank you Bill!
                            </p>
                            <h3 class="title">Lori Ann Reber
                                <span class="post"> - Entrepreneur</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}