{% extends 'base.html' %}

{% load static %}


{% block content %}
    <section class="testmonials_banner">
        <div class="container relative">
            <div class="testmonial_main_text">


                <blockquote>After attending Bill’s intensive 1-day live bootcamp on getting started with wholesaling
                    properties, I not only have the confidence to start my investing career, but I feel I feel well
                    equipped with all the tools to face every challenge as they come. It truly was the best investment
                    I’ve ever made!” - Victoria V<br>
                </blockquote>
            </div>
{#            <img style="margin : auto ; max-width : 30%;" class="img-responsive" src="{% static 'images/auther_2.png' %}" alt="">#}
            <img src="{% static 'images/auther_2.png' %}" class="test_ban">
        </div>
    </section>

    <div class="testmonials">
        <div class="container">
            <div class="section-title">Our Valued Customers</div>
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div id="testimonial-slider" class="owl-carousel">
                         <div class="testimonial">
                            <div class="pic">
                                <img class="img-circle" src="{% static 'images/ni_image.gif' %}" style="width: 80px;height:80px;">
                            </div>
                            <p class="description">
                               Bill’s course was an eye opener! If you want to make money in this business, you have to be honest and help people succeed. Bill’s courses under promise, and over deliver!

                            </p>
                            <h3 class="title">Hamo Sarokhani
                                <span class="post"> </span>
                            </h3>
                        </div>

                        <div class="testimonial">
                            <div class="pic">
                                <img class="img-circle" src="{% static 'images/ChuckCraven.jpg' %}" style="width: 80px;height:80px;">
                            </div>
                            <p class="description">
                               BH Coaching,
                                Thank you so much for helping me have a lot of success in real estate over a number of years. I attended several of your boot camps and learned so much. You were at the top of your game in the early 2000’s specializing in short sales and teaching others how to be successful too. Your knowledge of real estate is both incredible and valuable. Although the big recession hit in 2008/2009 and affected everyone tremendously, I was still able to find deals and flip houses employing the methods I learned through your boot camps.
                                Your teaching and coaching has been tremendous and helped me profit on every deal I have ever done. I would definitely recommend your coaching to anyone who wishes to succeed in the real estate industry.
                                Thanks again and much success to you in the future.

                            </p>
                            <h3 class="title">Chuck Craven
                                <span class="post"> </span>
                            </h3>
                        </div>

                        <div class="testimonial">
                            <div class="pic">
                                <img class="img-circle" src="{% static 'images/img-user1.png' %}" style="width: 80px;height:80px;">
                            </div>
                            <p class="description">
                                I really cannot believe you just helped me profit 5,000 on my 1st Assignment of Contract deal. Your coaching program was without a doubt the best investment I have ever made in myself. Never would have believed I could make this kind of money. Without you I would not of even known how to start. Thank U!
                            </p>
                            <h3 class="title">MATT T.
                                <span class="post"> - Web Developer</span>
                            </h3>
                        </div>

                        <div class="testimonial">
                            <div class="pic">
                                <img class="img-circle" src="{% static 'images/img-user2.png' %}" style="width: 80px;height:80px;">
                            </div>
                            <p class="description">
                                Simplified, yet powerful tools to overcome adversity in our personal lives, relationships and businesses. I personally feel that teenagers would be very inspired and prepared for the future world after high school if this was part of their curriculum. Thank you Bill!
                            </p>
                            <h3 class="title">Lori Ann Reber
                                <span class="post"> - Entrepreneur</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}