{% extends 'base.html' %}

{% load static %}


{% block content %}
    <section class="testmonials_banner">
		<div class="container relative">
			<div class="testmonial_main_text">

					<li data-target="#testmonials_carousel" data-slide-to="1" class="active" ><img style="margin : auto ; max-width : 20%;" class="img-responsive" src="{% static 'images/auther_2.png' %}" alt="">
					</li>
				<blockquote style="margin : auto ;">After attending Bill’s intensive 1-day live bootcamp on getting started with wholesaling
                    properties, I not only have the confidence to start my investing career, but I feel I feel well
                    equipped with all the tools to face every challenge as they come. It truly was the best investment
                    I’ve ever made!” - Victoria V<br>
                </blockquote>
			</div>
		<!--	<img src="{% static 'images/auther_2.png' %}" class="test_ban"> -->
		</div>
	</section>


	<section class="testmonials">
		<div class="container">
			<div class="section-title">Our Valued Customers</div>

			<div class="col-md-12" data-wow-delay="0.2s">
	            <div class="carousel slide" data-ride="carousel" id="testmonials_carousel">
	                <!-- Bottom Carousel Indicators -->
	                <ol class="carousel-indicators">
	                    <li data-target="#testmonials_carousel" data-slide-to="0" class="active"><img class="img-responsive" src="{% static 'images/test_image1.png' %}" alt="">
	                    </li>
	                    <li data-target="#testmonials_carousel" data-slide-to="1"><img class="img-responsive" src="{% static 'images/test_image1.png' %}" alt="">
	                    </li>
	                    <li data-target="#testmonials_carousel" data-slide-to="2"><img class="img-responsive" src="{% static 'images/test_image1.png' %}" alt="">
	                    </li>
	                </ol>

	                <!-- Carousel Slides / Quotes -->
	                <div class="carousel-inner text-center">

	                    <!-- Quote 1 -->
	                    <div class="item active">
	                        <blockquote>
	                            <div class="row">
	                                <div class="col-sm-8 col-sm-offset-2">

	                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially <unchanged class=""></unchanged></p>

	                                </div>
	                            </div>
	                        </blockquote>
	                    </div>
	                    <!-- Quote 2 -->
	                    <div class="item">
	                        <blockquote>
	                            <div class="row">
	                                <div class="col-sm-8 col-sm-offset-2">

	                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>

	                                </div>
	                            </div>
	                        </blockquote>
	                    </div>
	                    <!-- Quote 3 -->
	                    <div class="item">
	                        <blockquote>
	                            <div class="row">
	                                <div class="col-sm-8 col-sm-offset-2">

	                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. .</p>

	                                </div>
	                            </div>
	                        </blockquote>
	                    </div>
	                </div>

	                <!-- Carousel Buttons Next/Prev -->
	                <a data-slide="prev" href="#testmonials_carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
	                <a data-slide="next" href="#testmonials_carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
	            </div>
	        </div>
		</div>
	</section>

{% endblock %}