{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="BillHarlOff">
	<meta name="author" content="Taqi Raza Khan">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BillHarlOff Webinar Package</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/fullcalendar.min.css' %}" rel="stylesheet" />
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
</head>

<body>
	<!-- Navbar Default -->
	<header>
		<div class="container topheader">
			<div class="row">
				<div class="col-md-6 col-sm-8">
					<ul class="left-list">
						<li>
							<a href="">
								<i class="fa fa-clock-o"></i>
								24/7 Availible
							</a>
						</li>
						<li>
							<a href="tel:+17709194877">
								<i class="fa fa-phone"></i>
								+1 (770) 919 4877
							</a>
						</li>
						<li>
							<a href="mailto:info@billharloff.com">
								<i class="fa fa-envelope"></i>
								info@billharloff.com
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-6 col-sm-4">
					<ul class="right-list">
						<li>
							<a href="signup.html">
								Sign Up
							</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="https://www.linkedin.com/in/bill-harloff-7a77b469/">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-google"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</header>

	<nav class="navbar navbar-default">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="index.html"><img src="{% static 'images/logo.png' %}" alt="BillHarlOff" class="img-responsive"></a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      	<ul class="nav navbar-nav">

				<li><a href="about.html">ABOUT</a></li>
				<li><a href="coaching.html">COACHING</a></li>
				<li class="active"><a href="courses.html">COURSES</a></li>
				<li><a href="events.html">EVENTS</a></li>
				<li><a href="contact.html">contact</a></li>
				<li class="active"><a href="signup.html" class="hidden-lg hidden-md">Sign Up</a></li>
		    </ul>
		    <ul class="nav navbar-nav pull-right nav2">
		    	<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<span class="fa fa-bars"></span>
						<span class="visibility-hidden">Less <i class="fa fa-times"></i></span>
					</a>
					<ul class="dropdown-menu pull-left">
                      <li><a href="{% url 'testimonials' %}">TESTIMONIALS</a></li>
					  <li><a href="{% url 'comming-soon' %}">SUCCESS STORIES</a></li>
					  <li><a href="{% url 'comming-soon' %}">SELF ASSESSMENTS</a></li>
					  <li><a href="{% url 'comming-soon' %}">GROWTH SOLUTIONS</a></li>
					  <li><a href="{% url 'comming-soon' %}">MEDIA LIBRARY</a></li>
					  <li class="seprator"><a href="#"></a></li>
					  <li><a href="{% url 'comming-soon' %}">BREAKTHROUGH MOBILE</a></li>
					  <li><a href="{% url 'comming-soon' %}">GET INVOLVED</a></li>
					  <li><a href="{% url 'comming-soon' %}">WE’RE HIRING</a></li>
					  <li><a href="{% url 'comming-soon' %}">TERMS OF SERVICE</a></li>
					  <li><a href="{% url 'comming-soon' %}">PRIVACY POLICY</a></li>
					</ul>
				</li>
		    </ul>
	    </div>
	  </div>
	</nav>
	<div class="clearfix"></div>


	<section class="course_funnel_banner text-white">
		<div class="container">
			<div class="col-md-12">
				<div class="funnel_head packagehead">24 HOUR LIMITED TIME OFFER - 80% OFF</div>
				<h3 class="text-center innerhead">Available only to “Complete Short Sale Process” Webinar Attendees!</h3>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-12 form_area">
				<div class="col-md-5">
					<img src="{% static 'images/webinarpackage.jpg' %}" class="img-responsive">
				</div>
				<div class="col-md-7">
					<form class="form_builder" method="post" id="theForm" name="theForm">{% csrf_token %}
						<div class="col-md-12 form-group">
							<lable>Email</lable>
							<input type="email" class="form-control" placeholder="Enter Paypal Email">
						</div>

						<div class="col-md-12 form-group" id="paypal-button-container" name="paypal-button-container">

							<!--<button class="btn btn-success btn-block" style="font-size: 18px">
								<strong>Pay $997.00</strong>
							</button>-->
						</div>
                        <div class="col-md-12 empty_div form-group">

						</div>

					</form>
				</div>
			</div>
            <script>

        paypal.Button.render({

            env: 'production', // sandbox | production

            // PayPal Client IDs - replace with your own
            // Create a PayPal app: https://developer.paypal.com/developer/applications/create
            client: {
                sandbox:    '{{ client_id }}',
                production: '{{ live_id }}'
            },

            // Show the buyer a 'Pay Now' button in the checkout flow
            commit: true,

            // payment() is called when the button is clicked
            payment: function(data, actions) {

                // Make a call to the REST api to create the payment
                return actions.payment.create({
                    payment: {
                        transactions: [
                            {
                                amount: { total: '{{ amount }}', currency: '{{ currency }}' }
                            }
                        ]
                    }
                });
            },

            // onAuthorize() is called when the buyer approves the payment
            onAuthorize: function(data, actions) {

                // Make a call to the REST api to execute the payment
                return actions.payment.execute().then(function() {
                    console.log('in api function - payment approved');
                    //document.getElementById('id_confirmation').value = "true";
                    //document.getElementById('id_amount').value = {{ amount }};
                    //document.theForm.submit();
                });
            }

        }, '#paypal-button-container');

        function dummyClick() {
            document.getElementById('id_confirmation').value = "true";
            document.getElementById('id_amount').value = {{ amount }};
            document.theForm.submit();
        }
    </script>



<form method="post" id="theForm" name="theForm" action="">
    {% csrf_token %}
    {{ paypalForm.amount }}
    {{ paypalForm.confirmation }}
</form>
			<div class="clearfix"></div>

            <section class="coaching what_you_get">
                <div class="container">
                    <div class="col-md-12 form-group text-center">
                        <div class="section_head_inner font_play text-white">Exclusive - 24 Hour Limited Time Package <br>$4,997+ VALUE for only $997 (80% OFF!!!)</div>
                        <p class="inner_heading">Package Includes</p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <div class="package_box text-black">
                            <div class="package_head bronze">
                                <p class="text-white font_play">5 Live-Stream Courses with Bill:</p>
        {#						<p class="text-white"><sup>$</sup>497<sub>/month</sub></p>#}
        {#						<button class="btn btn_start btn-sm">Start Now !</button>#}
                                <img src="{% static 'images/forsale.jpeg' %}" class="img-responsive">
                            </div>
                            <ul class="package_list">
                                <li><strong>Complete Short Sale Process </strong>- Take a deep dive step-by-step through the Complete Short Sale Process, and get full access to all the contracts, scripts and tactics needed to close the best short sale deals in <em><u>2-3 months from start to finish!</u></em> "</li>
                                <li><strong>Wholesaling / Assignment of Contract</strong> - Make <em><u>$5,000 minimum per deal </u></em>in your first 60 days by Wholesaling Properties!</li>
                                <li><strong>Finding Motivated Sellers</strong> - In <em><u>less than 30 days</u></em>, learn how to build a full stream of deals flowing directly to your business before the listings hit the MLS!</li>
                                <li><strong>Subject to Existing Financing</strong> - Start investing in Real Estate instantly with absolutely <em><u>NO money down and NO bank financing!</u></em></li>
                                <li><strong>Fix & Flip Rehabs / Dealing with Contractors</strong> - Learn<em><u> what to look for and what to avoid </u></em>by using the strategies Bill has developed over his 38 year career as a residential and commercial investor and developer</li>
                                <li class="more_pages"><button class="btn btn-info btn-block">$985 VALUE!!!</button> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="package_box premium text-black">
                            <div class="package_head silver">
                                <p class="font_play">3-Month Bronze Plan Membership:</p>
                                <img src="{% static 'images/homes.jpg' %}" class="img-responsive">
                            </div>
                            <ul class="package_list">
                                <li>Unlimited access to the entirety of B.H. Coaching’s resource library with training courses, contracts, marketing materials and much more! </li>
                                <li> Unlimited email access to Bill’s personally trained staff to support you during the implementation of Bill’s tactics & strategies!</li>
                                <li>Access to B.H. Coaching’s monthly Real Estate Investing Success Webinar, LIVE w/ Bill!</li>
                                <li class="more_pages"><button class="btn btn-info btn-block">$1,491 VALUE!!!</button> </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="package_box text-black">
                            <div class="package_head gold">
                                <p class="text-white font_play">B.H. Coaching’s Deal Network:</p>
                                <img src="{% static 'images/homes2.jpg' %}" class="img-responsive">
                            </div>
                            <ul class="package_list">
                                <li>Get full access to B.H. Coaching's national database, built during Bill’s 38 year illustrious career, brimful of:
                                    <ul>
                                        <li>Investors</li>
                                        <li>Bird dogs</li>
                                        <li>Rehabbers</li>
                                        <li>Wholesalers</li>
                                        <li>Contractors</li>
                                        <li>Attorneys</li>
                                        <li>Motivated sellers</li>
                                        <li>AND MORE!</li>
                                    </ul>
                                </li>
                                <li class="more_pages"><button class="btn btn-info btn-block">Priceless !!!</button> </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </section>

			<div class="col-md-12 what_you_get webinar_packages">
				<div class="funnel_head packagehead text-right">INSTANT SIGN UP BONUS:</div>
                <p>Sign up by 12:30pm PST, 3:30pm EST and we’ll provide you with an additional bonus of full lifetime access to <strong><em><u>Stanford MBA and Real Estate Expert, Symon He’s, 11 On-Demand Real Estate Investment and Business Courses</u></em></strong> to further equip you with the tools you need to evaluate Real Estate investment opportunities and <em><u>pick winners instantly!</u></em></p>
               <div class="more_pages text-center">
                    <button class="btn btn-info">$1,670 VALUE!</button>
               </div>
			</div>

			<div class="col-md-12 what_you_get webinar_packages">
				<div class="funnel_head packagehead text-right">THIS PACKAGE HAS NEVER BEEN OFFERED BEFORE!!!</div>
                <p> And there's never been a better time to invest in Real Estate, so <strong>Bill and Symon </strong>are taking their investments to the next level by <strong>looking for people</strong> who are <strong><em><u>serious about making money </u></em></strong> in Real Estate & <strong><em><u>partnering on Deals</u></em></strong>.</p>
               <div class="more_pages text-center">
                   <h3>Purchase today, and join the network!</h3>
                    <button class="btn btn-info">PURCHASE TODAY!</button>
                   <br>
                   <img src="{% static 'images/gurrenty.png' %}" class="img-responsive" style="max-width: 200px; margin: 25px auto 0">
               </div>
			</div>

            <div class="col-md-12 join_us">
				<div class="col-md-4">
					<img src="/assets/images/bill_course_funnel.jpg" class="img-responsive">
				</div>
				<div class="col-md-8">
					<div class="funnel_heading_sub">
						30 day Money Back Guarantee
					</div>
					<p> I am so confident that this package will not only give you the confidence to kick start and further advance your Real Estate Investing career, but will provide you the tools, tactics and strategies to succeed in reaching your dreams, that I personally guarantee if you’re not satisfied with your purchase, I will send your money back, no questions asked!</p>
				</div>
			</div>
	</section>

	<div class="clearfix"></div>


	<footer class="footer">
		<div class="container">
			<div class="col-md-5 col-sm-6">
                <div class="follow-us" style="font-size: 29px;padding-left: 0%;">
                    <a href="https://mailchi.mp/9acf17dcf3b8/top5financingyourflipstrategies">DOWNLOAD BILL’S TOP 5 FINANCING STRATEGIES!</a>
                </div>
			</div>
			<div class="col-md-7 col-sm-6">
				<p class="copy-rights">©2018 • PRIVACY POLICY</p>
			</div>
			<div class="company-info">BILL HARLOFF, Instructor & Coach</div>
		</div>
	</footer>
	
	<script src="{% static 'js/moment.min.js' %}"></script>
	<script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/fullcalendar.min.js' %}"></script>
    <script type="text/javascript">
    	$(document).ready(function(){
			 $(".dropdown-toggle").click(function(){
			 	$(".visibility-hidden").toggle();
			 	$(".fa-bars").toggle();
			 });  				 
  		});
    </script>

    <script>

  $(document).ready(function() {

    $('#calendar').fullCalendar({
      defaultDate: '2018-03-12',
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: [
        {
          title: 'All Day Event',
          start: '2018-03-01'
        },
        
        {
          id: 999,
          title: 'Repeating Event',
          start: '2018-03-09T16:00:00'
        },
        
        {
          title: 'Birthday Party',
          start: '2018-03-13T07:00:00'
        }
      ]
    });

  });

</script>
    
</body>
</html>