{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="BillHarlOff">
	<meta name="author" content="Taqi Raza Khan">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BillHarlOff</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="{% static 'css/fullcalendar.min.css' %}" rel="stylesheet" />
</head>

<body>
	<!-- Navbar Default -->
	<header>
		<div class="container topheader">
			<div class="row">
				<div class="col-md-6 col-sm-8">
					<ul class="left-list">
						<li>
							<a href="">
								<i class="fa fa-clock-o"></i>
								24/7 Availible
							</a>
						</li>
						<li>
							<a href="tel:+000098374888">
								<i class="fa fa-phone"></i>
								+000098374-888
							</a>
						</li>
						<li>
							<a href="mailto:info@billharloff.com">
								<i class="fa fa-envelope"></i>
								info@billharloff.com
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-6 col-sm-4">
					<ul class="right-list">
						<li>
							<a href="">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-google"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</header>

	<nav class="navbar navbar-default">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <a class="navbar-brand" href="index.html"><img src="{% static 'images/logo.png' %}" alt="BillHarlOff" class="img-responsive"></a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      	<ul class="nav navbar-nav">
	      		<li><a href="{% url 'index' %}">Home</a></li>
				<li><a href="{% url 'about' %}">ABOUT</a></li>
				<li class="active"><a href="{% url 'coaching' %}">COACHING</a></li>
				<li><a href="{% url 'courses' %}">COURSES</a></li>
				<li><a href="{% url 'events' %}">EVENTS</a></li>
				<li><a href="{% url 'contact' %}">Contacts</a></li>
		    </ul>
		    <ul class="nav navbar-nav pull-right nav2">
		    	<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<span class="fa fa-bars"></span>
						<span class="visibility-hidden">Less <i class="fa fa-times"></i></span>
					</a>
					<ul class="dropdown-menu pull-left">
					  <li><a href="#">SUCCESS STORIES</a></li>
					  <li><a href="#">SELF ASSESSMENTS</a></li>
					  <li><a href="#">GROWTH SOLUTIONS</a></li>
					  <li><a href="#">MEDIA LIBRARY</a></li>
					  <li class="seprator"><a href="#"></a></li>
					  <li><a href="#">BREAKTHROUGH MOBILE</a></li>
					  <li><a href="#">GET INVOLVED</a></li>
					  <li><a href="#">WE’RE HIRING</a></li>
					  <li><a href="#">TERMS OF SERVICE</a></li>
					  <li><a href="#">PRIVACY POLICY</a></li>
					</ul>
				</li>
		    </ul>
	    </div>
	  </div>
	</nav>
	<div class="clearfix"></div>


	<section class="coaching_banner">
		<div class="container">
			<h1 class="section_head text-center">Coaching</h1>
			
		</div>
	</section>
	
	
	<section class="coaching">
		<div class="container">
			<div class="col-md-12 form-group text-center">
				<div class="section_head_inner font_play">Coaching Membership</div>
				<p class="inner_heading">As your personal Real Estate Investing Coach, Bill Harloff will apply his 38 years of Real Estate development, investing and coaching experience to train you achieving in your unique investing career goals.
                    You will have unlimited access to Bill’s online courses and webinars, as well as practice live with Bill using his proven techniques, guides, and strategies.</p>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-4">
				<div class="package_box">
					<div class="package_head bronze">
						<p class="text-white font_play">Bronze Plan</p>
						<p class="text-white"><sup>$</sup>497<sub>/month</sub></p>
						<button class="btn btn_start btn-sm">Start Now !</button>
					</div>
					<ul class="package_list">
						<li>Unlimited access to all of B.H Coaching’s resource library for training courses, contracts, marketing materials, etc.</li>
						<li>Unlimited email access to Bill’s staff</li>
						<li>Access to monthly B.H. Coaching’s Real Estate Investing Success Webinar</li>
                        <li><sup>$</sup>497<sub>/month</sub></li>
                        <li>
                            3 months commitment
                        </li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="package_box premium">
					<div class="package_head silver">
						<p class="font_play">Silver</p>
						<p class="text-black"><sup>$</sup>997<sub>/month</sub></p>
						<button class="btn btn_start btn-sm">Start Now !</button>
					</div>
					<ul class="package_list">
						<li>Everything in the Bronze Plan, plus</li>
						<li>Personal Investor Assessment and Financial Plan Coaching with CPA staff</li>
						<li>Getting Started and Growing Your Real Estate Investing Business One-on-One Appointment</li>
						<li>Access to B.H. Coaching’s monthly Team Building Networking Webinar</li>
                        <li><sup>$</sup>997<sub>/month</sub></li>
                        <li>
                            3 months commitment
                        </li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="package_box">
					<div class="package_head gold">
						<p class="text-white font_play">Gold</p>
						<p class="text-white"><sup>$</sup>1,497<sub>/month</sub></p>
						<button class="btn btn_start btn-sm">Start Now !</button>
					</div>
					<ul class="package_list">
						<li>Everything in the Silver Plan, plus</li>
						<li>Monthly 8-Hour Real Estate Investing Bootcamp Live Webinar</li>
						<li>One-on-one Investment Success Coaching phone call with Bill per month</li>
                        <li><sup>$</sup>1,497<sub>/month</sub></li>
                        <li>
                            3 months commitment
                        </li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<div class="footer-top">
		<div class="text-footer">
			WE STRIVE <br> TO HELP YOU GROW!
		</div>
	</div>


	<div class="clearfix"></div>

	<footer class="footer">
		<div class="container">
			<div class="col-md-5">
				<div>“DOWNLOAD BILL HARLOFF’S TOP 100 FLIPPING STRATEGIES” - <span>this should replace this part on every page and lead to email capture: Name, Email, Notes, then give a PDF download</span></div>
			</div>
			<div class="col-md-7">
				<p class="copy-rights">©2018 • PRIVACY POLICY</p>
			</div>
			<div class="company-info">BILL HARLOFF, MOTIVATOR & MENTOR</div>
		</div>
	</footer>
	
	<script src="{% static 'js/moment.min.js' %}"></script>
	<script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/fullcalendar.min.js' %}"></script>
    <script type="text/javascript">
    	$(document).ready(function(){
			 $(".dropdown-toggle").click(function(){
			 	$(".visibility-hidden").toggle();
			 	$(".fa-bars").toggle();
			 });  				 
  		});
    </script>

    <script>

  $(document).ready(function() {

    $('#calendar').fullCalendar({
      defaultDate: '2018-03-12',
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: [
        {
          title: 'All Day Event',
          start: '2018-03-01'
        },
        
        {
          id: 999,
          title: 'Repeating Event',
          start: '2018-03-09T16:00:00'
        },
        
        {
          title: 'Birthday Party',
          start: '2018-03-13T07:00:00'
        }
      ]
    });

  });

</script>
    
</body>
</html>