{% load static %}<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="BillHarlOff">
	<meta name="author" content="Taqi Raza Khan">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BillHarlOff</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="{% static 'css/fullcalendar.min.css' %}" rel="stylesheet" />
</head>

<body>
	<!-- Navbar Default -->
	<header>
		<div class="container topheader">
			<div class="row">
				<div class="col-md-6 col-sm-8">
					<ul class="left-list">
						<li>
							<a href="">
								<i class="fa fa-clock-o"></i>
								24/7 Availible
							</a>
						</li>
						<li>
							<a href="tel:+000098374888">
								<i class="fa fa-phone"></i>
								+000098374-888
							</a>
						</li>
						<li>
							<a href="mailto:info@billharloff.com">
								<i class="fa fa-envelope"></i>
								info@billharloff.com
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-6 col-sm-4">
					<ul class="right-list">
						<li>
							<a href="">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-google"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</header>

	<nav class="navbar navbar-default">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <a class="navbar-brand" href="../index.html"><img src="{% static 'images/logo.png' %}" alt="BillHarlOff" class="img-responsive"></a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      	<ul class="nav navbar-nav">
	      		<li><a href="{% url 'index' %}">Home</a></li>
				<li><a href="{% url 'about' %}">ABOUT</a></li>
				<li><a href="{% url 'coaching' %}">COACHING</a></li>
				<li><a href="{% url 'courses' %}">COURSES</a></li>
				<li><a href="{% url 'events' %}">EVENTS</a></li>
				<li><a href="{% url 'contact' %}">Contacts</a></li>
		    </ul>
		    <ul class="nav navbar-nav pull-right nav2">
		    	<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<span class="fa fa-bars"></span>
						<span class="visibility-hidden">Less <i class="fa fa-times"></i></span>
					</a>
					<ul class="dropdown-menu pull-left">
					  <li><a href="#">SUCCESS STORIES</a></li>
					  <li><a href="#">SELF ASSESSMENTS</a></li>
					  <li><a href="#">GROWTH SOLUTIONS</a></li>
					  <li><a href="#">MEDIA LIBRARY</a></li>
					  <li class="seprator"><a href="#"></a></li>
					  <li><a href="#">BREAKTHROUGH MOBILE</a></li>
					  <li><a href="#">GET INVOLVED</a></li>
					  <li><a href="#">WE’RE HIRING</a></li>
					  <li><a href="#">TERMS OF SERVICE</a></li>
					  <li><a href="#">PRIVACY POLICY</a></li>
					</ul>
				</li>
		    </ul>
	    </div>
	  </div>
	</nav>
	<div class="clearfix"></div>


	<section class="testmonials_banner">
		<div class="container relative">
			<div class="testmonial_main_text">
				<blockquote>After attending Bill’s intensive 1-day live bootcamp on getting started with wholesaling
                    properties, I not only have the confidence to start my investing career, but I feel I feel well
                    equipped with all the tools to face every challenge as they come. It truly was the best investment
                    I’ve ever made!” - Victoria V<br>
                </blockquote>
			</div>
			<img src="{% static 'images/auther_2.png' %}" class="test_ban">
		</div>
	</section>
	
	
	<section class="testmonials">
		<div class="container">
			<div class="section-title">Our Valued Customers</div>

			<div class="col-md-12" data-wow-delay="0.2s">
	            <div class="carousel slide" data-ride="carousel" id="testmonials_carousel">
	                <!-- Bottom Carousel Indicators -->
	                <ol class="carousel-indicators">
	                    <li data-target="#testmonials_carousel" data-slide-to="0" class="active"><img class="img-responsive" src="{% static 'images/test_image1.png' %}" alt="">
	                    </li>
	                    <li data-target="#testmonials_carousel" data-slide-to="1"><img class="img-responsive" src="{% static 'images/test_image1.png' %}" alt="">
	                    </li>
	                    <li data-target="#testmonials_carousel" data-slide-to="2"><img class="img-responsive" src="{% static 'images/test_image1.png' %}" alt="">
	                    </li>
	                </ol>

	                <!-- Carousel Slides / Quotes -->
	                <div class="carousel-inner text-center">

	                    <!-- Quote 1 -->
	                    <div class="item active">
	                        <blockquote>
	                            <div class="row">
	                                <div class="col-sm-8 col-sm-offset-2">

	                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially <unchanged class=""></unchanged></p>
	                                    
	                                </div>
	                            </div>
	                        </blockquote>
	                    </div>
	                    <!-- Quote 2 -->
	                    <div class="item">
	                        <blockquote>
	                            <div class="row">
	                                <div class="col-sm-8 col-sm-offset-2">

	                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
	                                    
	                                </div>
	                            </div>
	                        </blockquote>
	                    </div>
	                    <!-- Quote 3 -->
	                    <div class="item">
	                        <blockquote>
	                            <div class="row">
	                                <div class="col-sm-8 col-sm-offset-2">

	                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. .</p>
	                                    
	                                </div>
	                            </div>
	                        </blockquote>
	                    </div>
	                </div>

	                <!-- Carousel Buttons Next/Prev -->
	                <a data-slide="prev" href="#testmonials_carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
	                <a data-slide="next" href="#testmonials_carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
	            </div>
	        </div>
		</div>
	</section>


	<div class="clearfix"></div>

	<footer class="footer">
		<div class="container">
			<div class="col-md-5">
				<div class="follow-us">FOLLOW US <br> ON FACEBOOK</div>
			</div>
			<div class="col-md-7">
				<p class="copy-rights">©2018 • PRIVACY POLICY</p>
			</div>
			<div class="company-info">BILL HARLOFF, MOTIVATOR & MENTOR</div>
		</div>
	</footer>
	
	<script src="{% static 'js/moment.min.js' %}"></script>
	<script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/fullcalendar.min.js' %}"></script>
    <script type="text/javascript">
    	$(document).ready(function(){
			 $(".dropdown-toggle").click(function(){
			 	$(".visibility-hidden").toggle();
			 	$(".fa-bars").toggle();
			 });  				 
  		});
    </script>

    <script>

  $(document).ready(function() {

    $('#calendar').fullCalendar({
      defaultDate: '2018-03-12',
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: [
        {
          title: 'All Day Event',
          start: '2018-03-01'
        },
        
        {
          id: 999,
          title: 'Repeating Event',
          start: '2018-03-09T16:00:00'
        },
        
        {
          title: 'Birthday Party',
          start: '2018-03-13T07:00:00'
        },
        {
          title: 'Click for Web',
          url: 'http://www.taqirazakhan.com/',
          start: '2018-03-28'
        }
      ]
    });

  });

</script>
    
</body>
</html>