{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="BillHarlOff">
	<meta name="author" content="Taqi Raza Khan">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BillHarlOff</title>

	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/fullcalendar.min.css' %}" rel="stylesheet" />
	<link href="{% static 'css/second_style.css' %}" rel="stylesheet">
</head>

<body>
	<!-- Navbar Default -->
	<header>
		<div class="container topheader">
			<div class="row">
				<div class="col-md-6 col-sm-8">
					<ul class="left-list">
						<li>
							<a href="">
								<i class="fa fa-clock-o"></i>
								24/7 Availible
							</a>
						</li>
						<li>
							<a href="tel:+000098374888">
								<i class="fa fa-phone"></i>
								+000098374-888
							</a>
						</li>
						<li>
							<a href="mailto:info@billharloff.com">
								<i class="fa fa-envelope"></i>
								info@billharloff.com
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-6 col-sm-4">
					<ul class="right-list">
						<li>
							<a href="">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-google"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</header>

	<nav class="navbar navbar-default">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <a class="navbar-brand" href="../index.html"><img src="{% static 'images/logo.pn' %}g" alt="BillHarlOff" class="img-responsive"></a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      	<ul class="nav navbar-nav">
				<li><a href="../index.html">Home</a></li>
				<li><a href="about.html">ABOUT</a></li>
				<li><a href="coaching.html">COACHING</a></li>
				<li><a href="courses.html">COURSES</a></li>
				<li><a href="events.html">EVENTS</a></li>
				<li><a href="contact.html">Contacts</a></li>
		    </ul>
		    <ul class="nav navbar-nav pull-right nav2">
		    	<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<span class="fa fa-bars"></span>
						<span class="visibility-hidden">Less <i class="fa fa-times"></i></span>
					</a>
					<ul class="dropdown-menu pull-left nav2">
					  <li><a href="#">SUCCESS STORIES</a></li>
					  <li><a href="#">SELF ASSESSMENTS</a></li>
					  <li><a href="#">GROWTH SOLUTIONS</a></li>
					  <li><a href="#">MEDIA LIBRARY</a></li>
					  <li class="seprator"><a href="#"></a></li>
					  <li><a href="#">BREAKTHROUGH MOBILE</a></li>
					  <li><a href="#">GET INVOLVED</a></li>
					  <li><a href="#">WE’RE HIRING</a></li>
					  <li><a href="#">TERMS OF SERVICE</a></li>
					  <li><a href="#">PRIVACY POLICY</a></li>
					</ul>
				</li>
		    </ul>
	    </div>
	  </div>
	</nav>
	<div class="clearfix"></div>

	<section class="flex-display flex-direction-column flex-justify-center section section-arrow--bottom has-background-image has-background-size-cover" data-guid="a6558f5e-2624-d4b5-f806-e7543531d1b6" style="background-color: rgb(31, 35, 74); border-color: rgb(31, 35, 74); background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(&quot;&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
    <div class="container">
        <div class="layout flex flex--12">
            <div class="column flex__item--md-12 flex__item--xs-12" data-guid="49b92e8e-f1c4-3617-4c0d-9f657f92d67c">
                <div class="inner-column has-background-image has-background-size-cover" style="background-color: rgba(0, 0, 0, 0); border-color: rgba(0, 0, 0, 0); background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(&quot;&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
                    <div class="row flex flex--12">
                        <div class="composite flex__item--md-12 flex__item--xs-12">
                            <div class="inner-composite flex flex--12">
                                <div class="widget-column flex__item--md-12 flex__item--xs-12">
                                    <div class="widget-row flex flex--12">
                                        <div class="flex__item--md-12 flex__item--xs-12 widget-widget">
                                            <div data-widget-id="55745f01-8e0a-149f-3b8c-21e4c1db2184" class="widget">
                                                <div class="lp-headline" spellcheck="false">
                                                    <h1 class="line-height-scale-3 font-scale-5 text-align-center lp-headline headline font_play"><span style="color: rgb(255, 255, 255);"><strong>THANKS FOR SIGNING UP!</strong>
                                                    <strong>THANKS FOR YOUR PURCHASE!</strong></span></span>
                                                    </h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row flex flex--12">
                        <div class="composite flex__item--md-4 flex__item--xs-12">
                            <div class="inner-composite flex flex--12">
                                <div class="widget-column flex__item--md-12 flex__item--xs-12">
                                    <div class="widget-row flex flex--12">
                                        <div class="flex__item--md-12 flex__item--xs-12 widget-widget">
                                            <div data-widget-id="ff6fa907-c344-cb78-ce06-3d39f634fe79" class="widget">
                                                <div class="lp-space"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="composite flex__item--md-4 flex__item--xs-12">
                            <div class="inner-composite flex flex--12">
                                <div class="widget-column flex__item--md-12 flex__item--xs-12">
                                    <div class="widget-row flex flex--12">
                                        <div class="flex__item--md-12 flex__item--xs-12 widget-widget">
                                            <div data-widget-id="4fc18871-147c-602d-3d71-895e13577bd7" class="widget">
                                                <style>
                                                    [data-widget-id="4fc18871-147c-602d-3d71-895e13577bd7"] .lp-icon-widget__icon,[data-widget-id="4fc18871-147c-602d-3d71-895e13577bd7"] .lp-icon-widget__icon--linked{color:rgb(255, 255, 255)}[data-widget-id="4fc18871-147c-602d-3d71-895e13577bd7"] .lp-icon-widget__icon--linked:hover{color:rgb(204, 204, 204)}
                                                </style>
                                                <div data-widget-type="lp-icon-widget" class="lp-icon-widget lp-icon-widget--medium">
                                                    <!--anchor-->
                                                    <!--<view>--><i aria-hidden="true" class="fa fa-envelope-o lp-icon-widget__icon" style="font-size: 165px;"></i>
                                                    <!--</view>-->
                                                    <!--anchor-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="composite flex__item--md-4 flex__item--xs-12">
                            <div class="inner-composite flex flex--12">
                                <div class="widget-column flex__item--md-12 flex__item--xs-12">
                                    <div class="widget-row flex flex--12">
                                        <div class="flex__item--md-12 flex__item--xs-12 widget-widget">
                                            <div data-widget-id="6a0489c4-4c8d-1991-8cae-cde35863b5dc" class="widget">
                                                <div class="lp-space"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row flex flex--12">
                        <div class="composite flex__item--md-1 flex__item--xs-12">
                            <div class="inner-composite flex flex--12">
                                <div class="widget-column flex__item--md-12 flex__item--xs-12">
                                    <div class="widget-row flex flex--12">
                                        <div class="flex__item--md-12 flex__item--xs-12 widget-widget">
                                            <div data-widget-id="456bf36d-cc0b-0a36-c26c-a44b5d923c66" class="widget">
                                                <div class="lp-space"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="composite flex__item--md-10 flex__item--xs-12">
                            <div class="inner-composite flex flex--12">
                                <div class="widget-column flex__item--md-12 flex__item--xs-12">
                                    <div class="widget-row flex flex--12">
                                        <div class="flex__item--md-12 flex__item--xs-12 widget-widget">
                                            <div data-widget-id="eced2172-b199-83d3-3f71-d715f5dcfa4e" class="widget">
                                                <div class="lp-text" style="min-height:20px;outline:0" spellcheck="false">
                                                    <p class="line-height-scale-5 font-scale-4 text-align-center"><span style="color: rgb(255, 255, 255);"><span style="font-family: Source Sans Pro;"><span class="font-scale-7">
                                                        Everything we promised you will be sent to your inbox shortly. While you wait for your materials to arrive via email,
                                                        we recommend you check the <a href="#">EVENTS</a> page (below) for free monthly webinars!</span></span>
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="composite flex__item--md-1 flex__item--xs-12">
                            <div class="inner-composite flex flex--12">
                                <div class="widget-column flex__item--md-12 flex__item--xs-12">
                                    <div class="widget-row flex flex--12">
                                        <div class="flex__item--md-12 flex__item--xs-12 widget-widget">
                                            <div data-widget-id="ca2f433d-71c4-9244-1ca8-99de8348e931" class="widget">
                                                <div class="lp-space"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


	<section class="flex-display flex-direction-column flex-justify-center section has-background-image has-background-size-cover" data-guid="0a764022-cb9d-7fb9-6ea4-16d20706812c" style="background-color: rgb(161, 161, 161); border-color: rgb(161, 161, 161); background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(&quot;images/type_writter.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
	    <div class="container">
	        <div class="layout flex flex--12">
	            <div class="column flex__item--md-12 flex__item--xs-12" data-guid="057be655-8111-b3e2-2fc3-3a579ebf3a9e">
	                <div class="inner-column has-background-image has-background-size-cover" style="background-color: rgba(0, 0, 0, 0); border-color: rgba(0, 0, 0, 0); background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(&quot;&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
	                    <div class="row flex flex--12">
	                        <div class="composite flex__item--md-12 flex__item--xs-12">
	                            <div class="inner-composite flex flex--12">
	                                <div class="widget-column flex__item--md-12 flex__item--xs-12">
	                                    <div class="widget-row flex flex--12">
	                                        <div class="flex__item--md-12 flex__item--xs-12 widget-widget">
	                                            <div data-widget-id="0ee8ec7c-d38d-779c-12ce-f71b658a3f65" class="widget">
	                                                <div class="lp-headline" spellcheck="false">
	                                                    <h1 class="line-height-scale-3 font-scale-5 text-align-center lp-headline headline"><span style="color: rgb(255, 255, 255);">
                                                            <span style="font-family: Source Sans Pro;"><strong>LIVE WEBINAR</strong></span></span>
	                                                    </h1>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="row flex flex--12">
	                        <div class="composite flex__item--md-12 flex__item--xs-12">
	                            <div class="inner-composite flex flex--12">
	                                <div class="widget-column flex__item--md-12 flex__item--xs-12">
	                                    <div class="widget-row flex flex--12">
	                                        <div class="flex__item--md-12 flex__item--xs-12 widget-widget">
	                                            <div data-widget-id="5969f895-56b2-c8ac-a8fb-08fa881a08f3" class="widget">
	                                                <div class="lp-text" style="min-height:20px;outline:0" spellcheck="false">
	                                                    <p class="line-height-scale-3 font-scale-4 text-align-center"><span style="color: rgb(255, 255, 255);"><span style="font-family: Source Sans Pro;"><span class="font-scale-6">With <strong>Bill Harloff</strong></span></span>
	                                                        </span>
	                                                    </p>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>


	        <div class="layout flex flex--12">
	            <div class="column flex__item--md-3 flex__item--xs-12" data-guid="ce692a5c-59bd-c6f7-3452-eeac1cfeb4a2">
	                <div class="inner-column has-background-image has-background-size-cover" style="background-color: rgba(0, 0, 0, 0); border-color: rgba(0, 0, 0, 0); background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(&quot;&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
	                    <div class="row flex flex--12">
	                        <div class="composite flex__item--md-12 flex__item--xs-12 layout-TC">
	                            <div class="inner-composite flex flex--12 flex--sm-top">
	                                <div class="widget-column flex__item--md-12 flex__item--xs-12">
	                                    <div class="widget-row flex flex--12">
	                                        <div class="flex__item--md-12 flex__item--xs-12 widget-widget">
	                                            <div data-widget-id="36395075-053a-e2b4-9612-c4b643539f4a" class="widget">
	                                                <style>
	                                                    [data-widget-id="36395075-053a-e2b4-9612-c4b643539f4a"]{text-align:center}.leadbox img[src$="image_placeholder.svg"]{max-height:29px}
	                                                </style><img class="lp-image" src="{% static 'images/test_image1.png' %}" alt="Tim Paige" style="max-width: 340px;"></div>
	                                        </div>
	                                    </div>
	                                    <div class="widget-row flex flex--12">
	                                        <div class="flex__item--md-12 flex__item--xs-12 widget-widget">
	                                            <div data-widget-id="71ad1f28-4926-c009-5ead-e6c336e63582" class="widget">
	                                                <div class="lp-text" style="min-height:20px;outline:0" spellcheck="false">
	                                                    <p class="line-height-scale-3 font-scale-4 text-align-center"><span style="color: rgb(255, 255, 255);"><span style="font-family: Source Sans Pro;"><strong>Tim Paige - Leadpages</strong></span></span>
	                                                    </p>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="column flex__item--md-6 flex__item--xs-12" data-guid="18b7a8ab-16f4-7469-daca-5c8baf3ebb03">
	                <div class="inner-column has-background-image has-background-size-cover" style="background-color: rgba(0, 0, 0, 0); border-color: rgba(0, 0, 0, 0); background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(&quot;&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
	                    <div class="row flex flex--12">
	                        <div class="composite flex__item--md-12 flex__item--xs-12">
	                            <div class="inner-composite flex flex--12">
	                                <div class="widget-column flex__item--md-12 flex__item--xs-12">
	                                    <div class="widget-row flex flex--12">
	                                        <div class="flex__item--md-12 flex__item--xs-12 widget-widget">
	                                            <div data-widget-id="da7f38d4-613c-6c44-b12b-479fa8a3a8dc" class="widget">
	                                                <div class="lp-headline" spellcheck="false">
	                                                    <h1 class="line-height-scale-3 font-scale-4 text-align-center lp-headline headline"><span style="color: rgb(255, 255, 255);"><span style="font-family: Source Sans Pro;"><strong>The 4 Most Important Webpages In Your Business, And How To Tweak Them To Triple Your Revenue In The Next 12 Months</strong></span></span>
	                                                    </h1>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="row flex flex--12">
	                        <div class="composite flex__item--md-1 flex__item--xs-12">
	                            <div class="inner-composite flex flex--12">
	                                <div class="widget-column flex__item--md-12 flex__item--xs-12">
	                                    <div class="widget-row flex flex--12">
	                                        <div class="flex__item--md-12 flex__item--xs-12 widget-widget">
	                                            <div data-widget-id="e92ba287-9c0f-3527-7c25-5215cce7e428" class="widget">
	                                                <div class="lp-space"></div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="composite flex__item--md-10 flex__item--xs-12">
	                            <div class="inner-composite flex flex--12">
	                                <div class="widget-column flex__item--md-12 flex__item--xs-12">
	                                    <div class="widget-row flex flex--12">
	                                        <div class="flex__item--md-12 flex__item--xs-12 widget-widget">
	                                            <div data-widget-id="c5738d74-c8f9-ed4c-6c5b-a92f922df1f5" class="widget">
	                                                <style>
	                                                    [data-widget-id="c5738d74-c8f9-ed4c-6c5b-a92f922df1f5"] .lp-button--flat,[data-widget-id="c5738d74-c8f9-ed4c-6c5b-a92f922df1f5"] .lp-button--flat:active,[data-widget-id="c5738d74-c8f9-ed4c-6c5b-a92f922df1f5"] .lp-button--flat:focus{border-color:rgb(247, 78, 59);background:rgb(247, 78, 59);color:rgba(255, 255, 255, 1)}[data-widget-id="c5738d74-c8f9-ed4c-6c5b-a92f922df1f5"] .lp-button--flat:hover{border-color:rgb(196, 62, 47);background:rgb(196, 62, 47);color:rgba(255, 255, 255, 1)}
	                                                </style>
	                                                <div class="btn-container">
	                                                    <!--<view>--><a class="lp-button--full lp-button--small is-bold lp-button--flat font-scale-9 line-height-scale-5 lp-button js-leadbox-trigger" href="120e83973f72a2:12c10f20af46dc" target="" rel="" style="font-family: &quot;Source Sans Pro&quot;;">SIGN UP NOW</a>
	                                                    <!--</view>-->
	                                                    <!--anchor-->
	                                                    <!--anchor-->
	                                                    <!--anchor-->
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="composite flex__item--md-1 flex__item--xs-12">
	                            <div class="inner-composite flex flex--12">
	                                <div class="widget-column flex__item--md-12 flex__item--xs-12">
	                                    <div class="widget-row flex flex--12">
	                                        <div class="flex__item--md-12 flex__item--xs-12 widget-widget">
	                                            <div data-widget-id="26f9b005-023a-bf8d-1a55-e24cda626ebf" class="widget">
	                                                <div class="lp-space"></div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="column flex__item--md-3 flex__item--xs-12" data-guid="619d153a-de03-60ee-1a4d-b89494ba9486">
	                <div class="inner-column has-background-image has-background-size-cover" style="background-color: rgba(0, 0, 0, 0); border-color: rgba(0, 0, 0, 0); background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(&quot;&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat;">
	                    <div class="row flex flex--12">
	                        <div class="composite flex__item--md-12 flex__item--xs-12 layout-TC">
	                            <div class="inner-composite flex flex--12 flex--sm-top">
	                                <div class="widget-column flex__item--md-12 flex__item--xs-12">
	                                    <div class="widget-row flex flex--12">
	                                        <div class="flex__item--md-12 flex__item--xs-12 widget-widget">
	                                            <div data-widget-id="93a4d9fe-9a62-386d-5c64-9df87a983408" class="widget">
	                                                <style>
	                                                    [data-widget-id="93a4d9fe-9a62-386d-5c64-9df87a983408"]{text-align:center}.leadbox img[src$="image_placeholder.svg"]{max-height:29px}
	                                                </style><img class="lp-image" src="{% static 'images/test-image2.png' %}" alt="Clay Collins" style="max-width: 340px;"></div>
	                                        </div>
	                                    </div>
	                                    <div class="widget-row flex flex--12">
	                                        <div class="flex__item--md-12 flex__item--xs-12 widget-widget">
	                                            <div data-widget-id="d8993868-a994-b25d-22d3-5b4ef23dd52a" class="widget">
	                                                <div class="lp-text" style="min-height:20px;outline:0" spellcheck="false">
	                                                    <p class="line-height-scale-3 font-scale-4 text-align-center"><span style="color: rgb(255, 255, 255);"><strong>Clay Collins - Leadpages</strong></span></span>
	                                                    </p>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>
	
	<div class="clearfix"></div>


    <section class="events">
		<div class="container">
			<div class="col-md-12 form-group">
				<div class="section_head_inner font_play">Upcoming Events</div>
			</div>
			<div class="col-md-12">
				<p>You don't have to struggle alone with no plan to success anymore. Bill Harloff Healthy Life Coaching is a one-on-one dynamic coaching program where you come full circle with your work topersonal lifestyle. Now is the perfect time to end the meaningless routines that do nothing for your long term success and are playing a detrimental role in your overall health</p>
			</div>

			<div class="col-md-12">
				<div class="calender">
					<div id='calendar'></div>
				</div>
			</div>
		</div>



	<footer class="footer">
		<div class="container">
			<div class="col-md-5">
				<div class="follow-us">FOLLOW US <br> ON FACEBOOK</div>
			</div>
			<div class="col-md-7">
				<p class="copy-rights">©2018 • PRIVACY POLICY</p>
			</div>
			<div class="company-info">BILL HARLOFF, MOTIVATOR & MENTOR</div>
		</div>
	</footer>
	
	<script src="{% static 'js/moment.min.js' %}"></script>
	<script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/fullcalendar.min.js' %}"></script>
    <script type="text/javascript">
    	$(document).ready(function(){
			 $(".dropdown-toggle").click(function(){
			 	$(".visibility-hidden").toggle();
			 	$(".fa-bars").toggle();
			 });  				 
  		});
    </script>

    <script>

  $(document).ready(function() {

    $('#calendar').fullCalendar({
      defaultDate: '2018-03-12',
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: [
        {
          title: 'All Day Event',
          start: '2018-03-01'
        },
        
        {
          id: 999,
          title: 'Repeating Event',
          start: '2018-03-09T16:00:00'
        },
        
        {
          title: 'Birthday Party',
          start: '2018-03-13T07:00:00'
        },
        {
          title: 'Click for Web',
          url: 'http://www.taqirazakhan.com/',
          start: '2018-03-28'
        }
      ]
    });

  });

</script>
    
</body>
</html>